@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


p {
font-family: "Roboto Condensed", sans-serif;
}
a {
text-decoration: none;
}
#home-title {
height: 5rem;
width: 100vw;
position: absolute;
z-index: 910000;
-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#home-org {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#home-h1 {
position: absolute;
left: 4rem;
margin-right: 4rem;
width: 30vw;
font-size: 2rem;
top: 50%;
font-family: "Roboto Condensed", sans-serif;
font-weight: 800;
color: white;
display: flex;
align-items: center;
pointer-events: all;
cursor: pointer;
}
#home-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

#home-searchbar input {
  padding: 1.2rem;
  border: 0;
  height: 100%;
  width: 20rem;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  margin-left: 0;
  border: 1px solid rgb(225, 225, 225);
}

#home-searchbar input:nth-child(1) {
  border-right: 2px solid #E1E0E0;
}

#placeDD-input {
  position: relative;
}

#cityDD-input {
  position: relative;
}

#placeDD-input ul {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 0;
  max-height: 20rem;
  overflow-y: scroll;
  position: absolute;
  display: none;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 1rem;
}

#placeDD-input ul li {
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#placeDD-input ul li:hover {
  background-color: black;
  color: white;
}


#cityDD-input ul {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 1rem;
  z-index: 100000;
  border-radius: 0 0 10px 10px;
}

#cityDD-input ul li {
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#cityDD-input ul li:hover {
  background-color: black;
  color: white;
}

#home-searchbar input:nth-child(2) {
  margin-left: 0;
}
#home-searchbar button {
  background-color: #8A05FF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: relative;
  height: 100%;
  border-radius: 0 30px 30px 0;
  margin-top: 0rem;
  padding: 0 1rem;
  font-size: 1.5rem;
}
.placeInCity {
  pointer-events: all;
  cursor: pointer;
  display: flex;
  align-items: start;
  margin-bottom: 0.5rem;
}
.placeInCity img {
pointer-events: none;
height: 4rem;
width: 5rem;
border-radius: 7px;
}
.placeInCity p {
  pointer-events: none;
  font-family: "Roboto Condensed", sans-serif;
  text-align: start;
}
.placeInCity div {
  margin-left: 0.5rem;
}
.placeInCity .place-txt {
margin-top: 0;
margin-bottom: 0.5rem;
}
.placeInCity .place-subtxt {
  margin-top: 0;
  font-size: 0.8rem;
}
#home-h1 h1 {
font-size: 2.3rem;
font-family: "Roboto Condensed", sans-serif;
font-weight: 800;
position: relative;
bottom: 0.5rem;
left: 2rem;
}
#home-h1 .fa-paper-plane {
position: absolute;
left: 0;
top: 0.1rem;
height: 1.3rem;
width: 1.3rem;
margin: 0;
font-size: 20px;
}
#homesearch {
display: flex;
width: 65%;
position: relative;
left: 27vw;
bottom: 2rem;
}
.first-input {
width: 100%;
height: 3rem;
display: flex;
position: relative;
top: 1rem;
}
#search-bar-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1500px) {
  #search-bar-wrapper {
    width: 45rem;
  }
}
#city-place-search {
padding-top: 0;
padding-bottom: 0;
position: relative;
width: 100%;
height: 100%;
border: none;
margin: 0;
border-radius: 2px 0 0 2px;
padding-left: 0.5rem;
min-width: 140px;
z-index: 999;
}

.divider {
position: absolute;
background-color: lightgray;
height: 2rem;
width: 0.1rem;
left: 33%;
top: 0.5rem;
}
#place-search {
width: 100%;
height: 100%;
padding-top: 0;
position: relative;
border: none;
margin: 0;
min-width: 140px;
border-left: 2px solid lightgray;
padding-left: 0.5rem;
padding-bottom: 0;
z-index: 1000;
border-radius: 0px;
}
#place-search:focus {
outline: none;
}
#city-place-search:focus {
outline: none;
}

.home-search-btn {
position: relative;
background-color: black;
height: 100%;
font-size: 1.7rem;
width: fit-content;
border-radius: 0 2px 2px 0;
pointer-events: all;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
z-index: 1009;
padding: 0 1rem 0 1rem;
}
#acc-and-trip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5rem;
}
.account {
  position: relative;
  cursor: pointer;
  top: 0.5rem;
}
.user-name {
  display: flex;
  justify-content: space-between;
  border-radius: 100px;
  padding: 0 0 0 1rem;
  color: black;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.user-name button {
height: fit-content;
width: 7rem;
color: black;
position: relative;
bottom: 0.5rem;
padding: 0.5rem;
border:none;
color: white;
border-radius: 7px;
font-weight: 800;
font-family: "Roboto Condensed", sans-serif;
}

#account-photo {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    background-color: whitesmoke;
    border-radius: 100%;
    position: relative;
    right: 0rem;
}
#edit-user {
  background-color: white;
  position: absolute;
  width: 20rem;
  z-index: -1;
  right: 0rem;
  top: 4rem;
  padding-bottom: 1rem;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 10px 1px gray;
  font-family: "Roboto Condensed", sans-serif;
}
#edit-user div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 1rem;
}
#edit-user div h4 {
  margin-left: 1rem;
}
#edit-user h5 {
  position: relative;
  left: 1rem;
  margin: 0;
  font-size: 1.1rem;
}
#edit-user button {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  position: relative;
  left: 1rem;
  font-weight: 600;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  background-color: whitesmoke;
}
.user-name button a {
color: white;
font-weight: 800;
}
.user-name p {
font-weight: 600;
width: fit-content;
margin-right: 0.5rem;
}
#users-name {
  opacity: 0;
  margin-right: 1.5rem;
  -webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
}

#header-login {
border-radius: 3px;
position: relative;
top: 0.2rem;
}
#header-signup {
border-radius: 3px;
margin-left: 1rem;
position: relative;
top: 0.2rem;
background-color: rgba(46, 100, 254, 1);
color: white;
}
.fa-magnifying-glass-location {
color: white;
position: relative;
left: 0.2rem;
top: 0.1rem;
}
#input-DD {
position: relative;
right: 10rem;
width: 9rem;
left: -2.5rem;
}
#city-search-DD {
height: fit-content;
background-color: white;
position: relative;
display: none;
flex-direction: column;
padding: 0 0 1rem 1rem;
border-radius: 0 0 7px 7px;
padding-top: 1rem;
}
#city-search-DD p {
font-size: 1rem;
color: black;
pointer-events: all;
cursor: pointer;
}

#place-search-div {
  position: relative;
  width: 50%;
  left: 0%;
}

#city-search-div {
  width: 50%;
  border-radius: 0px;
}

#place-search-DD {
height: 50vh;
display: none;
flex-direction: column;
padding: 0.5rem 0 0.5rem 0.5rem;
position: absolute;
background-color: white;
top: 2.5rem;
overflow-y: scroll;
overflow-x: hidden;
border-radius: 0 7px 7px 7px;
z-index: 901;
padding-top: 2rem;
width: 100%;
}
#place-search-DD p {
pointer-events: all;
cursor: pointer;
}

.default-in-dropdown {
display: flex;
flex-direction: column;
height: 0;
margin-bottom: 1rem;
margin-top: 1.5rem;
color: black;
vertical-align: center;
}
.defalt-item {
padding-bottom: 1rem;
}
.place-in-dropdown {
display: flex;
flex-direction: column;
margin-bottom: 1rem;
margin-top: 1.5rem;
height: 4rem;
}
.place-in-dropdown img {
height: 3rem;
width: 6rem;
border-radius: 3px;
}
.place-in-dropdown .place-txt {
position: relative;
font-family: "Roboto Condensed", sans-serif;
font-size: 0.95rem;
left: 7rem;
top: -3.9rem;
width: 6rem;
color: black;
line-height: 1rem;
font-weight: 800;
}
.place-in-dropdown .place-subtxt {
position: relative;
left: 7rem;
bottom: 5.5rem;
font-family: "Roboto Condensed", sans-serif;
color: gray;
font-size: 0.9rem;
}

#home-hamburger {
width: fit-content;
height: fit-content;
position: fixed;
background-color: #2E64FE;
top: -0.2rem;
right: 1rem;
position: fixed;
}

@media screen and (max-width:1703px) {
.place-in-dropdown img {
width: 4rem;
}
.place-in-dropdown .place-txt {
left: 5rem;
top: -3.5rem;
}
.place-in-dropdown .place-subtxt {
left: 5rem;
bottom: 5.2rem;
}
}

@media screen and (max-width:1463px) {
.place-in-dropdown .place-subtxt {
left: 5rem;
bottom: 5.2rem;
font-size: 0.7rem;
}
}

@media screen and (max-width:1366px) {
.place-in-dropdown img {
display: none;
}
.place-in-dropdown .place-txt {
left: 0rem;
top: 0rem;
}
.place-in-dropdown .place-subtxt {
left: 0rem;
bottom: 1.5rem;
font-size: 0.7rem;
}
}

@media screen and (max-width: 1300px) {
  #home-h1 h1 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #home-searchbar input {
    width: 17rem
  }
}

@media screen and (max-width:1131px) {
  #home-searchbar input {
    width: 13rem
  }
.fa-magnifying-glass-location {
left: 0;
top: 0;
font-size: 1.8rem;
min-width: 40px;
}
.user-name button {
opacity: 0;
}
#home-h1 h1 {
  opacity: 0;
}
}

@media screen and (max-width:1043px) {
#acc-and-trip {
  right: 2rem;
  top: 0.5rem;
}
#home-h1 h1 {
opacity: 0;
}
  #home-h1 .fa-paper-plane {
    position: absolute;
    left: 0;
    top: -0.1rem;
    width: 1.3rem;
    font-size: 5rem;
    margin: 0;
    transform: scale(1.5);
}
#hello-user {
  left: 19.5rem;
  top: 7rem;
}
}

@media screen and (max-width:909px) {
.user-name p {
opacity: 0;
}

#acc-and-trip {
  display: none;
}

.inner_carousel img {
min-width: 300px;
}
#search-bar-wrapper {
  position: relative;
  right: 5rem;
}
}

@media screen and (max-width: 777px) {

  #hello-user {
    left: 16.5rem;
  }
}

@media screen and (max-width:723px) {
  #home-h1 .fa-paper-plane {
    left: -2rem;
  }
  #hello-user {
    top: 2rem;
    left: 15rem;
  }
}

@media screen and (max-width: 639px) {
  #hello-user {
    left: 12rem;
    top: 6rem;
  }
  #home-h1 {
   display: none;
  }
}


@media screen and (max-width:581px) {
  #home-searchbar input {
    width: 12rem
  }
.place-in-dropdown .place-txt {
font-size: 0.8rem;
left: -10%;
}
.place-in-dropdown .place-subtxt {
left: -10%;
}
#home-h1 .fa-paper-plane {
left: -2.5rem;
}
#home-hamburger {
top: 0;
}
#homesearch {
  bottom: 3.5rem;
}
}

@media screen and (max-width: 480px) {
  #home-searchbar input {
    width: 10rem
  }
#hello-user h4 {
  width: 70%;
}
#search-bar-wrapper {
  position: relative;
  right: 3rem;
}
#organizer-city-rundown-2 h4 {
  display: none;
}
#middle-organizer-2 {
  margin-bottom: 10rem;
}
#avaliable-cities-2 {
  display: none;
}
.home-search-btn svg {
font-size: 1.4rem;
}
#city-place-search {
  width: fit-content;
}
#place-search-DD {
  top: 0;
}
.placeInCity img {
  display: none;
}
  #home-h1 h1 {
  display: none;
}
  #home-h1 .plane {
  display: none;
}
.user-name {
display: none;

}
#home-title {
position: absolute;
}
.user-name p {
display: none;
}
.user-name button {
margin: 0;
position: relative;
}
#home-hamburger {
top: 0;
right: 2rem;
width: 2rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
}
.first-input {
position: fixed;
top: 1rem;
width: 40%;
left: 4.5rem;
height: 2rem;
}
#place-search {
min-width: 10.5rem;
}
#city-place-search {
min-width: 120px;
}
}


@media screen and (max-width: 455px) {
  #hello-user h4 {
    width: 60%;
    font-size: 2rem;
   }
   #hello-user {
    left: 11rem;
   }
}


@media screen and (max-width: 433px) {

.rec-container-item img {
width: 8rem;
}

.rec-container-item:hover .animatedbar {
width: 8rem;
right: 9rem;
}
#city-search-DD {
bottom: 0.2rem;
}
}

@media screen and (max-width: 429px) {
  #home-searchbar input {
    width: 9rem
  }
#place-search-DD {
  top: 1rem;
}
#grid-view {
  top: 11rem;
}
}

@media screen and (max-width: 420px) {
#place-search {
min-width: 113px;
}
#city-place-search {
min-width: 95px;
}
}

@media screen and (max-width: 382px) {
  #home-searchbar input {
    width: 8rem
  }
  .home-search-btn {
    padding: 0 0.5rem 0 0.5rem;
  }
}

@media screen and (max-width: 370px) {
#home-h1 .plane {
display: none;
}
.first-input {
left: 1.5rem;
}
}

@media screen and (max-width: 370px) {
#home-h1 .plane {
display: none;
}
.first-input {
left: 1.5rem;
}
#home-hamburger {
top: 2.5rem;
right: 5.1rem;
}
}

@media screen and (max-width: 360px) {
  #search-bar-wrapper {
  right: 1rem;
}
}

@media screen and (max-width: 347px) {
  #home-searchbar input {
    width: 7rem
  }
.inner_carousel img {
min-width: 250px
}
.c_rating {
left: 13rem;
}
}

@media screen and (max-width: 311px) {
#grid-view {
top: 8rem;
}
#home-searchbar button {
  padding: 0.5rem;
}
}























