@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#landing-main {
    background-color: #CD8FB3;
    height: fit-content;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
}
#landing-nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 0.5rem;
    z-index: 90000000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#landing-nav-left {
    margin-top: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
}

#landing-nav-left svg {
    height: 1.5rem;
    color: #151515;
}

#landing-nav-left h1 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
    color: white;
}
.travel {
    font-weight: 800;
}


#landing-nav-right {
    background-color: white;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    height: 100%;
    width: fit-content;
    padding: 0.5rem 1rem 0 1rem;
    border-radius: 0px 0px 0px 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#landing-nav-right button:hover {
    box-shadow: none;
    color: gray;
}

#landing-feature-breakdown {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 4rem;
    position: relative;
margin-left: 5rem;
margin-right: 5rem;
padding-top: 5rem;
}

#feature-icon .paper-plane {
    height: 40rem;
    left: -18rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

#feature-icon .burst-top {
    height: 40rem;
    top: -15rem;
    left: 50rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

#feature-icon {
    position: relative;
    background-color: red;
    height: fit-content;
    width: fit-content;
}

#landing-feature-breakdown p {
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 3rem;
}

#landing-feature-breakdown h2 {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0rem;
    z-index: 900;
}

.get-started-below-h2 {
    background-color: black;
    border-radius: 0;
    width: fit-content;
    padding: 1.25rem;
    color: white;
    height: unset;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    font-weight: 800;
    font-size: 1.25rem;
    border-radius: 50px;
}

.get-started-below-memory {
    background-color: rgb(138, 5, 255);
    border-radius: 0;
    width: 100%;
    padding: 0.75rem;
    color: white;
    height: unset;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    border-radius: 50px;
}

#feature-text {
    width: 35%;
    margin-left: 7rem;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#feature-text p {
    color: white;
}

#feature-text h2 {
    color: white;
}

#feature-cards {
    position: relative;
    height: 45rem;
    width: 50%;
    right: 4rem;
}

#feature-cards img {
    position: absolute;
    width: 40rem;
    height: 35rem;
    border-radius: 20px;
    cursor:grab;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    object-fit: cover;
}



.one {
    transform: rotate(1deg);
}

.two {
    transform: rotate(2deg);
}

.three {
    transform: rotate(3deg);
}

.four {
    transform: rotate(4deg);
}

.five {
    transform: rotate(5deg);
}

.one {
    transform: rotate(6deg);
}

#landing-spotlight {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 2rem;
    position: relative;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 3rem;
}
#landing-spotlight::-webkit-scrollbar {
    height: 3px;
}

#landing-spotlight::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

#landing-spotlight-text {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 5rem;
}

.in {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
}

.impacts {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 0;
}

#landing-spotlight-content {
    position: relative;
    left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-spotlight-content img {
border-radius: 20px;
}

#landing-spotlight-content .coupleimg {
    height: 40rem;
    width: 30rem;
    object-fit: cover;
}

.spotlight-wrapper {
    width: fit-content;
    position: relative;
    margin-right: 10rem;
}

.spotlight-wrapper h4 {
    font-size: 1.6rem;
    margin: 0;
    margin-top: 0.5rem;
}

.spotlight-wrapper p {
    margin: 0;
    font-size: 1.5rem;
    color: #151515;
}

.testimonial-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #151515;
    color: white;
    padding: 1rem 2rem 4rem 1rem;
    width: 50%;
    position: absolute;
    top: 38%;
    left: 5%;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.testimonial-text-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #151515;
    color: white;
    padding: 1rem 2rem 4rem 1rem;
    width: 81%;
    height: 65%;
    position: absolute;
    top: -6%;
    left: 2%;
    opacity: 0;
    z-index: 900;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.testimonial-text-3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #151515;
    color: white;
    padding: 1rem 2rem 4rem 1rem;
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    opacity: 0;
    height: fit-content;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.testimonial-text-4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #151515;
    color: white;
    padding: 1rem 2rem 4rem 1rem;
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    opacity: 0;
    height: fit-content;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.from {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    right: -3.5rem;
    transform: rotate(-90deg);
}

.spotlight-wrapper:hover .burst-8 {
    height: 25rem;
    width: 25rem;
    left: 0rem;
    top: -5rem;
}

.spotlight-wrapper:hover .burst-8:before {
    height: 25rem;
    width: 25rem;
}

.spotlight-wrapper:hover .testimonial-text {
    opacity: 1;
    top: 35%;
}

.spotlight-wrapper:hover .testimonial-text-2 {
    opacity: 1;
    top: -3%;
}

.spotlight-wrapper:hover .testimonial-text-3 {
    opacity: 1;
    bottom: 12%;
}

.spotlight-wrapper:hover .testimonial-text-4 {
    opacity: 1;
    bottom: 7%;
}

.from div {
    background-color: #151515;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.from h6 {
    font-size: 1rem;
    color: #151515;
    margin: 0;
}


.burst-8 {
    background: black;
    width: 7rem;
    height: 7rem;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);
         left: 10rem;
         top: 15rem;
         z-index: -1;
         -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
         -o-transition: all 0.6s ease-out;
         transition: all 0.6s ease-out;
        
}
.burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 7rem;
    width: 7rem;
    background: black;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
         -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
         -o-transition: all 0.6s ease-out;
         transition: all 0.6s ease-out;
}

#cursor {
    position: absolute;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    z-index: 1000;
    opacity: 0;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: grab;
}

#cursor svg {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.small-img {
    height: 25rem;
    min-width: 20rem;
}

.med-img {
    height: 32rem;
    width: 25rem;
    object-fit: cover;
    background-position: 40% 50%;
}

.seclg-img {
    height: 38rem;
    width: 30rem;
    object-fit: cover;
    filter: grayscale(100%);
}

#allcities {
    margin: 3rem 7rem;
    width: 100%;
}

#allcities h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 5rem;
    font-size: 2.5rem;
}

#allcities ul {
    margin-left: 5rem;
    width: 80%;
    display: grid;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#allcities ul li {
    margin-right: 3rem;
}


#landing-subs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;
    background-color: #151515;
    padding-top: 10rem;
    padding-bottom: 9rem;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

#landing-subs #landing-subs-text {
    margin-left: 5rem;
    font-size: 2.5rem;
    width: 40%;
    color: white;
    margin-bottom: 5rem;

}

#landing-subs #landing-subs-input {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

#landing-subs #landing-subs-input input {
    border: none;
    border-bottom: 2px solid white;
    background-color: #151515;
    width: 40rem;
    padding: 0.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    color: white;
    font-size: 1.5rem;
}

#landing-subs #landing-subs-input button {
    width: fit-content;
    position: relative;
    right: 3rem;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#landing-new-features {
    margin: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#landing-new-features h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    text-align: center;
}

#landing-new-features #why-ts {
    width: 100%;
    margin-bottom: 10rem;
}

#landing-new-features #why-ts p {
    margin: 0;
    font-size: 1.2rem;
}

#landing-new-features #why-ts h4 {
    margin: 0;
    font-size: 1.5rem;
}

#landing-new-features #why-ts div {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#landing-new-features #why-ts div svg {
    height: 15rem;
    position: absolute;
    left: 1rem;
    bottom: -6rem;
    color: #1A4D31;
    z-index: -2;
    display: none;
}

#landing-new-features #why-ts div h6 {
    font-family: cursive;
    position: absolute;
    left: 13rem;
    top: 11rem;
    font-size: 0.8rem;
    width: 20rem;
    color: white;
}

.why-item {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#landing-new-features #why-ts div:first-child {
    position: relative;
    left: 5rem;
    bottom: -1rem;
    background-color: rgba(0,0,0,0);
    width: fit-content;
    color: white;
    padding: 1rem;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}

#landing-new-features #why-ts div img {
    border-radius: 20px;
}

#landing-new-features #why-ts div:first-child img {
    position: absolute;
    height: 20rem;
    bottom: -9.5rem;
    left: 8rem;
    z-index: -1;
}

#landing-new-features #why-ts div:nth-child(2) {
    position: relative;
    left: 62%;
    bottom: -1rem;
    top: 5rem;
    background-color: rgba(0,0,0,0);
    width: fit-content;
    color: white;
    padding: 1rem;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#landing-new-features #why-ts div:nth-child(2) img {
    position: absolute;
    height: 20rem;
    bottom: -7.5rem;
    left: -5rem;
    z-index: -1;
}

#landing-new-features #why-ts div:nth-child(3) {
    position: relative;
    left: 10%;
    top: 5rem;
    bottom: -1rem;
    background-color: rgba(0,0,0,0);
    width: fit-content;
    color: white;
    padding: 1rem;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#landing-new-features #why-ts div:nth-child(3) img {
    position: absolute;
    height: 20rem;
    bottom: -7.5rem;
    left: 5rem;
    z-index: -1;
}

#landing-new-features #why-ts div:nth-child(4) {
    position: relative;
    left: 35%;
    top: 10rem;
    bottom: -1rem;
    background-color: rgba(0,0,0,0);
    width: fit-content;
    color: white;
    padding: 1rem;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#landing-new-features #why-ts div:nth-child(4) img {
    position: absolute;
    height: 20rem;
    bottom: -7.5rem;
    left: 10rem;
    z-index: -1;
}

#new-features-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#new-features-content .bigdiv:nth-child(1) {
    margin-right: 3rem;
}

#new-features-content div {
    width: 45%;
    height: 30rem;
}

#new-features-content img {
    object-fit: cover;
}

.cool-new-img {
    object-position: 12% 0%;
}

.create-itin-img {
    object-position: 50% 85%;
}

#new-features-content h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    text-align: left;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    color: white;
    margin-bottom: 0;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    position: relative;
    bottom: 19rem;
}

#new-features-content h4 {
    font-size: 2rem;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    bottom: 18rem;
    color: white;

}

#new-features-content ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    bottom: 18rem;
    left: 1rem;
    max-height: 5rem;
    width: 40%;
    justify-content: flex-start;
}

#new-features-content ul li {
    color: white;
    max-width: fit-content;
}

#new-features-content .bigdiv img {
    height: 20rem;
    width: 100%;
    box-shadow: 0px 0px 20px 20px #0000001a;
}

.bigdiv p {
    position: relative;
    bottom: 7rem;
    font-size: 1.2rem;
}

#new-features-content .smdiv img {
    height: 12rem;
    width: 100%;
    border-radius: 7px;
}

#new-features-content-2 {
    display: flex;
    margin-top: 15rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15rem;
    align-items: center;
}

#new-features-content-2 img {
    height: 25rem;
    width: 45%;
    margin-right: 1rem;
    object-fit: cover;
    object-position: 50% 70%;
}

#new-features-content-2 h2 {
    font-size: 3rem;
    margin-top: 0;
}

#new-features-content-2 h4 {
    font-size: 2.3rem;
    margin-bottom: 0;
}

.memory-div {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

#manyh5 {
    display: flex;
    height: fit-content;
    width: 100%;
}

#manyh5 h5 {
    height: fit-content;
    margin-right: 0.5rem;
}

#manyh5 .nexth5 {
    background-color: #2E81FF;
    color: white;
}

#landing-convert {
    display: flex;
    justify-content: start;
    width: 100%;
}

#landing-convert #convert-left {
    width: 50%;
    position: relative;
}

#landing-convert #convert-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 5rem;
}

#easy-imgs {
    display: flex;
    position: relative;
    top: 3rem;
}

#easy-to-use-div {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0rem 4rem;
}

#easy-to-use-div #easy-imgs svg {
    position: absolute;
    left: 0rem;
    font-size: 10rem;
    height: 25rem;

}

#easy-to-use-div h2 {
    margin: 0;
    font-size: 3rem;
}

#easy-text {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    max-width: 45%;
}

#easy-text h2 {
    text-align: start;
}

#easy-to-use-div p {
    font-size: 1.4rem;
}

#easy-to-use-div img {
    height: 20rem;
}

#easy-text a {
    width: 100%;
}

#easy-to-use-div .easy-use-phone {
    position: relative;
    left: 8rem;
    z-index: 2;
}

#easy-to-use-div .easy-use-laptop {
    position: relative;
    bottom: 5rem;
}

#convert-start-app {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    top: 50%;
    height: 50%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

#convert-start-app svg {
    background-color: #8A05FF;
    color: white;
    padding: 0.8rem 1.1rem;
    border-radius: 100%;
    height: 2rem;
    position: relative;
    bottom: 1.8rem;
    margin-bottom: 0;
    cursor: pointer;
    pointer-events: all;
}

#convert-start-app p {
    font-size: 1.5rem;
    margin-top: 0;
    color: white;
    letter-spacing: 0.3rem;
}

#landing-convert #convert-right {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid whitesmoke;
}
#landing-convert #convert-right h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5rem;
    color: black;
}

#convert-reasons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-bottom: 1rem;
}

#convert-reasons div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#convert-reasons div svg {
    font-size: 2.5rem;
}

#convert-reasons div h4 {
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

#convert-right h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}

#convert-right p {
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
}

#convert-right button {
    width: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: rgb(138, 5, 255);
    border-radius:50px;
}


@media screen and (max-width: 1673px) {
    #feature-cards img {
        height: 60%;
        width: 65%;
        object-fit: cover;
    }

    #landing-feature-breakdown {
        margin-top: 7rem;
    }

    #feature-text h2 {
        font-size: 3.5rem;
    }
    
}

@media screen and (min-width: 1300px) {
    #easy-imgs {
        left: 3rem;
    }
    #landing-new-features #why-ts div:first-child {
      left: 14rem;
    }

    #landing-new-features #why-ts div:nth-child(3) {
        left: 14rem;
      }

      #feature-cards {
        right: unset;
      }
}

@media screen and (max-width: 1300px) {

    #easy-imgs {
        display: flex;
        position: relative;
        top: 4rem;
    }

    #easy-to-use-div .easy-use-phone {
        position: relative;
        z-index: 2;
    }
    
    #easy-to-use-div .easy-use-laptop {
        position: relative;
    }

    #easy-to-use-div {
        margin-left: 0;
        margin-right: 0;
    }
    
    #landing-feature-breakdown {
       margin-left: 1rem;
       margin-right: 1rem;
       padding-top: 2rem;
    }

    #feature-text {
        width: 50%;
    }

    #feature-text-category {
        margin-top: 0;
    }

    #feature-cards {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {

    #landing-new-features #why-ts div:first-child {
        left: 1rem;
    }

    #landing-convert {
        flex-direction: column;
    }
    #landing-convert #convert-left {
        width: 100%;
        height: fit-content;
    }
    #landing-convert #convert-left img {
        padding-bottom: 0;
    }
    #landing-convert #convert-right {
        width: 100%;
        padding-top: 0;
    }
    #landing-subs #landing-subs-text {
        width: 80%;
    }
    #landing-subs #landing-subs-input {
        position: relative;
        right: unset;
        margin-left: 5rem;
    }
    #landing-subs #landing-subs-input input {
        width: 80%;
    }
    #landing-subs {
        padding: 1rem 0;
        flex-direction: column;
        justify-content: center;
    }
    .spotlight-wrapper {
        margin-right: 5rem;
    }
    #feature-text {
        width: 46%;
        margin-left: 2rem;
    }

    #landing-nav-left {
        margin-left: 2rem;
    }

    #new-features-content div {
        width: 47%;  
    }

    #new-features-content div:first-child {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 1093px) {
    #landing-new-features #why-ts div:first-child {
        left: -3rem;
    }

    #landing-new-features #why-ts div:nth-child(2) {
        left: 74%;
    }

    #landing-new-features #why-ts div:nth-child(3) {
        left: 3%;
    }
}

@media screen and (max-width: 920px) {

    #feature-cards {
        left: 0;
    }

    #easy-to-use-div .easy-use-laptop {
        right: 7rem;
        top: 2rem;
    }

    #easy-to-use-div .easy-use-phone {
        left: 2rem;
        top: 2rem;
    }

    #why-ts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #landing-new-features #why-ts div:first-child {
        left: unset;
        margin-bottom: 10rem;
    }

    #landing-new-features #why-ts div:nth-child(2) {
        left: unset;
        margin-bottom: 10rem;
    }

    #landing-new-features #why-ts div:nth-child(3) {
        left: unset;
        bottom: unset;
        margin-bottom: 15rem;
        top: 7rem;
    }

    #landing-new-features #why-ts div:nth-child(4) {
        margin-bottom: 10rem;
        top: 5rem;
        left: unset;
    }

    #landing-new-features #why-ts div:nth-child(4) img {
        left: -7rem;
    }

    #landing-spotlight-text {
        margin-left: 2rem;
    }
    #landing-spotlight-content {
        left: 2rem;
    }
    #landing-new-features {
       margin: 0 2rem;
       margin-top: 10rem;
    }

    #new-features-content div {
        width: 100%;  
    }

    #new-features-content div:first-child {
        margin-right: 0rem;
    }
    #landing-feature-breakdown {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-bottom: 9rem;
    }
    #feature-cards {
        width: 45rem;
        height: 30rem;
    }
    #feature-cards img {
        height: 30rem;
    }

    #feature-text {
        width: 90%;
    }
    #landing-nav-right button {
        margin-top: 0;
    }
    #feature-icon {
        display: none;
    }
}

@media screen and (max-width: 879px) {
    #easy-text {
        max-width: 100%;
    }
    #easy-to-use-div {
        flex-direction: column;
    }

    #easy-imgs {
        left: -1rem;
    }

    #landing-spotlight {
        padding-top: 12rem;
    }

    #allcities h2 {
        margin: 1rem 2rem;
    }
}

@media screen and (max-width: 561px) {

    #easy-imgs {
        display: none;
    }
    #convert-start-app p {
        font-size: 1.2rem;
        width: 60%;
        text-align: center;
        position: relative;
        bottom: 1rem;
    }
    #feature-text {
        margin-left: 0rem;
    }
    #landing-subs #landing-subs-text {
        margin-left: 2rem;
    }
    #landing-subs #landing-subs-input {
        margin-left: 2rem;
    }
    #landing-subs #landing-subs-text h2 {
        font-size: 2.5rem;
    }
    #landing-subs #landing-subs-input input {
        margin-left: 0;
    }
    #feature-cards {
        width: 30rem;
        height: 20rem;
    }
    #feature-cards img {
        width: 70%;
        height: 20rem;
    }
    #landing-spotlight-content .coupleimg {
        height: 30rem;
        width: 20rem;
    }
    .testimonial-text {
        top: 0%;
    }
    .spotlight-wrapper:hover .testimonial-text {
        top: 0%;
    
    }
    .seclg-img {
        height: 30rem;
        width: 20rem;
    
    }
    .testimonial-text-4 {
        width: 60%;
        top: 0%;
    }
    .impacts {
        font-size: 1.2rem;
    }
    #landing-spotlight {
        padding-bottom: 1rem;
    }
    .med-img {
        height: 25rem;
        width: 20rem;
    }
}

@media screen and (max-width: 561px) {
    #feature-cards {
        width: 30rem;
        height: 20rem;
    }
    #feature-cards img {
        width: 65%;
        height: 20rem;
    }
    #landing-subs {
        text-align: center;
    }
    .testimonial-text-3 {
        width: 60%;
        bottom: 0%;
    
    }
    #landing-spotlight {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 428px) {
    #landing-convert #convert-right h2 {
        font-size: 4rem;
    }
    #convert-right h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    #convert-right p {
        text-align: center;
        width: 90%;
    }
    #landing-nav-right {
        display: none;
    }
    #landing-nav {
        position: absolute;
    }
}