@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#landing-main {
    background-color: #DFC2DD;
    height: fit-content;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
}
#landing-nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 90000000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#landing-nav-left {
    margin-left: 5rem;
    display: flex;
    align-items: center;
}

#landing-nav-left svg {
    height: 1.5rem;
    color: #151515;
}

#landing-nav-left h1 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
    color: #151515;
}
.travel {
    font-weight: 800;
}

#landing-nav-right {
    margin-right: 5rem;
}


#landing-nav-right button {
    background-color: rgba(0, 0, 0, 0);
    color: #151515;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    height: fit-content;
}

#landing-nav-right button:hover {
    box-shadow: none;
    color: gray;
}

#landing-feature-breakdown {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 4rem;
    position: relative;
margin-left: 5rem;
margin-right: 5rem;
padding-top: 7rem;
}

#feature-icon svg {
    height: 40rem;
    left: -18rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

#feature-icon {
    position: relative;
    background-color: red;
    height: fit-content;
    width: fit-content;
}

#landing-feature-breakdown p {
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 3rem;
}

#landing-feature-breakdown h2 {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0rem;
    z-index: 900;
}

#feature-text {
    width: 35%;
    margin-left: 7rem;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#feature-text p {
    color: #151515;
}

#feature-text h2 {
    color: #151515;
}

#feature-cards {
    position: relative;
    height: 45rem;
    width: 50%;
}

#feature-cards img {
    position: absolute;
    width: 40rem;
    height: 35rem;
    cursor:grab;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 7px;
    object-fit: cover;
    object-position: left top;
}

#feature-cards img:nth-child(1) {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.one {
    transform: rotate(1deg);
}

.two {
    transform: rotate(2deg);
}

.three {
    transform: rotate(3deg);
}

.four {
    transform: rotate(4deg);
}

.five {
    transform: rotate(5deg);
}

.one {
    transform: rotate(6deg);
}

#scroll-down {
    align-items: center;
    bottom: 10rem;
    display: flex;
    font-family: Roboto Condensed, sans-serif;
    justify-content: end;
    margin-top: 13rem;
    position: fixed;
    top: 66%;
    height: fit-content;
    right: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 15px;
    z-index: 90000000000;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
    animation: pulse-animation 4s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
    100% {
      box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
      transform: scale(1);
    }
  }

#scroll-down h3 {
    margin-right: 1rem;
}

#scroll-down svg {
    border: 1px solid white;
    padding: 1rem;
    border-radius: 100%;
    cursor: pointer;
}

#landing-spotlight {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 2rem;
    position: relative;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 3rem;
}
#landing-spotlight::-webkit-scrollbar {
    height: 3px;
}

#landing-spotlight::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

#landing-spotlight-text {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 5rem;
}

.in {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
}

.impacts {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 0;
}

#landing-spotlight-content {
    position: relative;
    left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-spotlight-content .coupleimg {
    height: 40rem;
    width: 30rem;
    object-fit: cover;
}

.spotlight-wrapper {
    width: fit-content;
    position: relative;
    margin-right: 10rem;
}

.spotlight-wrapper h4 {
    font-size: 1.6rem;
    margin: 0;
    margin-top: 0.5rem;
}

.spotlight-wrapper p {
    margin: 0;
    font-size: 1.5rem;
    color: #151515;
}

.testimonial-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #151515;
    color: white;
    padding: 1rem 2rem 4rem 1rem;
    width: 50%;
    position: absolute;
    top: 38%;
    left: 5%;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.testimonial-text-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #151515;
    color: white;
    padding: 1rem 2rem 4rem 1rem;
    width: 81%;
    height: 65%;
    position: absolute;
    top: -6%;
    left: 2%;
    opacity: 0;
    z-index: 900;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.testimonial-text-3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #151515;
    color: white;
    padding: 1rem 2rem 4rem 1rem;
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    opacity: 0;
    height: fit-content;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.testimonial-text-4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    background-color: #151515;
    color: white;
    padding: 1rem 2rem 4rem 1rem;
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    opacity: 0;
    height: fit-content;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.from {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    right: -3.5rem;
    transform: rotate(-90deg);
}

.spotlight-wrapper:hover .burst-8 {
    height: 25rem;
    width: 25rem;
    left: 0rem;
    top: -5rem;
}

.spotlight-wrapper:hover .burst-8:before {
    height: 25rem;
    width: 25rem;
}

.spotlight-wrapper:hover .testimonial-text {
    opacity: 1;
    top: 35%;
}

.spotlight-wrapper:hover .testimonial-text-2 {
    opacity: 1;
    top: -3%;
}

.spotlight-wrapper:hover .testimonial-text-3 {
    opacity: 1;
    bottom: 12%;
}

.spotlight-wrapper:hover .testimonial-text-4 {
    opacity: 1;
    bottom: 7%;
}

.from div {
    background-color: #151515;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.from h6 {
    font-size: 1rem;
    color: #151515;
    margin: 0;
}


.burst-8 {
    background: #2E81FF;
    width: 7rem;
    height: 7rem;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);
         left: 10rem;
         top: 15rem;
         z-index: -1;
         -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
         -o-transition: all 0.6s ease-out;
         transition: all 0.6s ease-out;
        
}
.burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 7rem;
    width: 7rem;
    background: #2E81FF;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
         -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
         -o-transition: all 0.6s ease-out;
         transition: all 0.6s ease-out;
}

#cursor {
    position: absolute;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    z-index: 1000;
    opacity: 0;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: grab;
}

#cursor svg {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.small-img {
    height: 25rem;
}

.med-img {
    height: 32rem;
    width: 25rem;
    object-fit: cover;
    background-position: 40% 50%;
}

.seclg-img {
    height: 38rem;
    width: 30rem;
    object-fit: cover;
    filter: grayscale(100%);
}


#landing-subs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;
    background-color: #151515;
    padding-top: 10rem;
    padding-bottom: 9rem;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

#landing-subs #landing-subs-text {
    margin-left: 5rem;
    font-size: 2.5rem;
    width: 40%;
    color: white;
    margin-bottom: 5rem;

}

#landing-subs #landing-subs-input {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

#landing-subs #landing-subs-input input {
    border: none;
    border-bottom: 2px solid white;
    background-color: #151515;
    width: 40rem;
    padding: 0.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    color: white;
    font-size: 1.5rem;
}

#landing-subs #landing-subs-input button {
    width: fit-content;
    position: relative;
    right: 3rem;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1rem;
}

#landing-new-features {
    margin: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
}

#landing-new-features h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
}

#new-features-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#new-features-content div {
    width: 24%;
  
}

#new-features-content img {
    object-fit: cover;
    object-position: 12% top;
}

#new-features-content h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    background-color: #151515;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    color: white;
    margin-bottom: 0;
    margin-top: 0.7rem;
}

#new-features-content h4 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#new-features-content .bigdiv img {
    height: 20rem;
    width: 100%;
    border-radius: 7px;
}

#new-features-content .smdiv img {
    height: 12rem;
    width: 100%;
    border-radius: 7px;
}

#manyh5 {
    display: flex;
    height: fit-content;
    width: 100%;
}

#manyh5 h5 {
    height: fit-content;
    margin-right: 0.5rem;
}

#manyh5 .nexth5 {
    background-color: #2E81FF;
    color: white;
}

#landing-convert {
    display: flex;
    justify-content: start;
    width: 100%;
}

#landing-convert #convert-left {
    width: 50%;
    position: relative;
}

#landing-convert #convert-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 5rem;
}

#convert-start-app {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    top: 50%;
    height: 50%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

#convert-start-app svg {
    background-color: #2E81FF;
    color: white;
    padding: 0.8rem 1.1rem;
    border-radius: 100%;
    height: 2rem;
    position: relative;
    bottom: 1.8rem;
    margin-bottom: 0;
    cursor: pointer;
    pointer-events: all;
}

#convert-start-app p {
    font-size: 1.5rem;
    margin-top: 0;
    color: white;
    letter-spacing: 0.3rem;
}

#landing-convert #convert-right {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid whitesmoke;
}
#landing-convert #convert-right h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5rem;
}

#convert-reasons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-bottom: 1rem;
}

#convert-reasons div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#convert-reasons div svg {
    font-size: 2.5rem;
}

#convert-reasons div h4 {
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

#convert-right h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
}

#convert-right p {
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
}

#convert-right button {
    width: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    border-radius: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}


@media screen and (max-width: 1673px) {
    #feature-cards img {
        height: 60%;
        width: 65%;
        object-fit: cover;
    }

    #landing-feature-breakdown {
        margin-top: 7rem;
    }

    #feature-text h2 {
        font-size: 3.5rem;
    }
    
}

@media screen and (max-width: 1300px) {
    
    #landing-feature-breakdown {
       margin-left: 1rem;
       margin-right: 1rem;
    }

    #feature-text {
        width: 50%;
    }

    #feature-text-category {
        margin-top: 0;
    }

    #feature-cards {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {

    #landing-convert {
        flex-direction: column;
    }
    #landing-convert #convert-left {
        width: 100%;
        height: fit-content;
    }
    #landing-convert #convert-left img {
        padding-bottom: 0;
    }
    #landing-convert #convert-right {
        width: 100%;
        padding-top: 0;
    }
    #landing-subs #landing-subs-text {
        width: 80%;
    }
    #landing-subs #landing-subs-input {
        position: relative;
        right: unset;
        margin-left: 5rem;
    }
    #landing-subs #landing-subs-input input {
        width: 80%;
    }
    #landing-subs {
        padding: 1rem 0;
        flex-direction: column;
        justify-content: center;
    }
    .spotlight-wrapper {
        margin-right: 5rem;
    }
    #feature-text {
        width: 46%;
        margin-left: 2rem;
    }

    #landing-nav-left {
        margin-left: 2rem;
    }

    #landing-nav-right {
        margin-right: 2rem;
    }

    #new-features-content div {
        width: 47%;  
    }

    #new-features-content div:first-child {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 920px) {
    #landing-spotlight-text {
        margin-left: 2rem;
    }
    #landing-spotlight-content {
        left: 2rem;
    }
    #landing-new-features {
       margin: 0 2rem;
    }

    #new-features-content div {
        width: 100%;  
    }

    #new-features-content div:first-child {
        margin-right: 0rem;
    }
    #landing-feature-breakdown {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #feature-cards {
        width: 45rem;
        height: 30rem;
    }
    #feature-cards img {
        height: 30rem;
    }

    #feature-text {
        width: 90%;
    }
    #landing-nav-right button {
        margin-top: 0;
    }
    #feature-icon {
        display: none;
    }
}

@media screen and (max-width: 561px) {

    #scroll-down {
        display: none;
    }
    #convert-start-app p {
        font-size: 1.2rem;
        width: 60%;
        text-align: center;
        position: relative;
        bottom: 1rem;
    }
    #scroll-down {
        justify-content: start;
        right: 0rem;
        margin-left: 3rem;
    }
    #feature-text {
        margin-left: 0rem;
    }
    #landing-subs #landing-subs-text {
        margin-left: 2rem;
    }
    #landing-subs #landing-subs-input {
        margin-left: 2rem;
    }
    #landing-subs #landing-subs-text h2 {
        font-size: 2.5rem;
    }
    #landing-subs #landing-subs-input input {
        margin-left: 0;
    }
    #feature-cards {
        width: 30rem;
        height: 20rem;
    }
    #feature-cards img {
        width: 70%;
        height: 20rem;
    }
    #landing-spotlight-content .coupleimg {
        height: 30rem;
        width: 20rem;
    }
    .testimonial-text {
        top: 0%;
    }
    .spotlight-wrapper:hover .testimonial-text {
        top: 0%;
    
    }
    .seclg-img {
        height: 30rem;
        width: 20rem;
    
    }
    .testimonial-text-4 {
        width: 60%;
        top: 0%;
    }
    .impacts {
        font-size: 1.2rem;
    }
    #landing-spotlight {
        padding-bottom: 1rem;
    }
    .med-img {
        height: 25rem;
        width: 20rem;
    }
}

@media screen and (max-width: 561px) {
    #feature-cards {
        width: 30rem;
        height: 20rem;
    }
    #feature-cards img {
        width: 65%;
        height: 20rem;
    }

    #landing-nav-right {
        display: none;
    }
    #landing-subs {
        text-align: center;
    }
    .testimonial-text-3 {
        width: 60%;
        bottom: 0%;
    
    }
}

@media screen and (max-width: 428px) {
    #landing-convert #convert-right h2 {
        font-size: 4rem;
    }
    #convert-right h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    #convert-right p {
        text-align: center;
        width: 90%;
    }
}