@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
#body {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100vw;
    position: relative;
    top: 0;
    height: 100vh;
}

#login-title {
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-title h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

#login-title .plane-login {
margin-right: 1rem;
}

#login {
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    top: 10rem;
    font-weight: 200;
    border-radius: 4px;
padding-top: 2rem;
    padding-bottom: 2rem;
}
#loginBtn {
    margin-top: 0.7rem;
    height: fit-content;
    width: 15rem;
    cursor: pointer;
    align-content: center;
    border-radius: 7px;
    background-color: gray;
    border: none;
font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
background-color: #2E64FE;
}
.signupH1 {
    color: black;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.signupH1 h1 {
    position: relative;
    bottom: 0.3rem;
    margin-right: 0.2rem;
font-weight: 800;
font-size: 3.5rem;
letter-spacing: 0.3rem;
}

.signupH1 input {

}

#login-text {
    display: flex;
}
#username-login {
   display: block;
   margin-bottom: 0;
   margin-left: 0;
}

#login-img {
    width: 50%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

#img-login-div {
    width: 60%;
}

#signup-img {
    width: 50%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    mask-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

#signup-general {
    position: relative;
    top: 10rem;
    right: 5rem;
}

#signupSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 7px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

#signup-general input {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    padding: 0.5rem;
    margin-left: 0;
    width: 100%;
}

#img-login-div img {
    position: relative;
    width: 100%;
    height: 100%;
}

#username-login input {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    padding: 0.5rem;
    margin-left: 0;
    width: 200%;
}
#pwlogin {
    display: block;
margin-bottom: 1rem;
}
#passwordfield-login {
height: 1.5rem;
margin-left: 0;
background-color: whitesmoke;
border: 1px solid whitesmoke;
border-radius: 7px;
padding: 0.5rem;
width: 200%;
}
#emaillogin {
    height: 1.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    width: 15rem;
    border-radius: 0;
}
input:focus {
    outline: none;
    border-color: #0076CC;
}
button {
    margin-top: 0.7rem;
    height: 1.5rem;
    width: 16rem;
    cursor: pointer;
    align-content: center;
    border-radius: 0;
    background-color: #2E64FE;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: white;
    font-weight: 500;
}
.FP {
    color: lightgray;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0;
    position: relative;
    right: 0rem;
}

#login-div-left {
display: flex;
flex-direction: column;
margin-left: 10rem;
}

#NoAcc {
    color: lightgray;
    display: flex;
    align-items: center;
}
.trailAcc {
    position: relative;
    font-size: 0.8rem;
    text-align: center;
}
.SU {
    margin-top: 0.7rem;
    margin-left: 4rem;
    height: 1.5rem;
    width: 5rem;
    cursor: pointer;
    align-content: center;
    border-radius: 0;
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: 500;
}
.SU:hover {
    background-color: #637ade;
}
.gtsignup-Btn {
font-family: "Roboto Condensed", sans-serif;
font-weight: 800;
margin-left: 0;
outline: #0076CC;    
}

.gtsignup-Btn a {
    color: #2E64FE;
    font-size: 0.8rem;
    letter-spacing: normal;
    margin: 0;
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}

@media screen and (max-width: 1643px) {
    #img-login-div {
        width: 50%;
    }
}

@media screen and (max-width: 1530px) {
    #login-div-left {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 1092px) {
#login {
width: 70vw;
}
#NoAcc {
width: 70vw;
}
}

@media screen and (max-width: 867px) {
    #img-login-div {
        position: absolute;
        left: 60%;
        height: 100%;
    }
    #login-text svg {
        display: none;
    }
  
}

@media screen and (max-width: 867px) {
    .signup-con {
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
    .signup-div-left {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 711px) {
   
    #img-login-div img {
        height: 300%;

    }
   #login-img {
    -webkit-mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 190%);
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 190%);
   }
}

@media screen and (max-width: 548px) {
    #signup-general input {
        width: unset;
       }
    #signupSubmit {
       width: fit-content;
    }
}

@media screen and (max-width: 450px) {
    #login {
    width: 86vw;
}
    #username-login {
     width: 80%;
    }
#pwlogin {
    width: 80%;
}
#emaillogin {
font-size: 16px;
}
#passwordfield-login {
    font-size: 16px;
}
#NoAcc {
    width: 86vw;
}
#login-img {
    -webkit-mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 240%);
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 240%);
   }
   #username-login input {
    width: 100%;
   }
   #passwordfield-login {
    width: 100%;
   }
   #login-notice {
    font-size: 0.7rem;
   }
   #login {
    top: 9rem;
   }
}

@media screen and (max-width: 390px) {
    #login-title h1 {
        font-size: 1.5rem;
    }
    #login-title .plane-login {
        font-size: 1.5rem;
    }
 }

 @media screen and (max-width: 375px) {
    #login {
        top: 7rem;
       }
 }
