@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.App {
display: flex;
flex-direction: column;
overflow-x: hidden;
}
#lottie {
    position: absolute;
    width: 30vw;
    height: 30vh;
    z-index: 9000000000;
    left:35%;
    top: 20vh;
    }
    #lottie-bg {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 900000;
    background-color: white;
    }
#grayBackdrop {
width: 100vw;
height: 100vh;
background-color: #EBECF0;
}
#top-rated {
position: relative;
display: flex;
flex-direction: column;
top: 19vh;
margin-bottom: 4.5rem;
}
#return-home {
height: fit-content;
width: fit-content;
background-color: #2E64FE;
justify-content: center;
position: fixed;
bottom: 2rem;
left: 45%;
z-index: 90000000000;
display: none;
opacity: 0.3;
}
#return-home:hover {
opacity: 1;
}
#return-home a {
color: white;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
}
#budget-best-section {
display: flex;
justify-content: space-between;
margin: 0 19rem 14rem 19rem;
}
#budget-section {
position: relative;
top: 7rem;
}
#suggH4 {
    margin-top: 1.3rem;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
    z-index: 99;
}
@media screen and (max-width: 663px) {
    #suggH4 {
        margin-bottom: 6rem;
        font-size: 2.5rem;
        left: -2rem;
    }
    .seachNode {
        position: absolute;
        left: 1.5rem;
        top: 6rem;
    }
    #carousel {
        overflow-y: scroll;
        height: 39rem;
    }
    #grid-view {
        top: 8.5rem;
        left: 1.5rem;
        font-size: 1.2rem;
    }
}
#highly-rated-section {
display: flex;
flex-direction: column;
position: relative;
top: 4rem;
padding-bottom: 5rem;
}
#top-rated .results-div {
width: 15vw;
}
#top-rated .results-div .results-img img {
display: none;
}
#top-rated .results-div:hover {
background-color: white;
}
#top-rated .results-div .line {
display: none;
}
#top-rated .results-div .results-img {
position:absolute;
overflow: visible;
}
#top-rated .results-div .results-img div {
position: relative;
top: 1rem;
font-size: 1.3rem;
top: -1rem;
width: 2.5rem;
height: 2.5rem;
padding: 0.2rem;
}
#top-rated .results-div .fa-heart {
top: 2.5rem;
left: 15rem;
font-size: 1.2rem;
}
#top-rated .results-div .results-img div p {
margin-bottom: 0;
}
#top-rated .results-div #results-content h6 {
display: none;
}
#top-rated .results-div #results-content h5 {
font-size: 1.3rem;
text-align: start;
line-height: 1.4rem;
width: 11rem;
}
#top-rated .results-div #results-content p {
margin-top: 1.5rem;
color: gray;
width: 200%;
}
#top-rated .results-div #results-content h4 {
position: relative;
bottom: 3rem;
}
#top-rated-text {
height: 2rem;
width: fit-content;
color: black;
position: relative;
top: 17vh;
font-family: 'Roboto Condensed', sans-serif;
font-size: 1.5rem;
}
#top-rated-text div {
position: relative;
background-color: #2E64FE;
width: 7rem;
height: 0.5rem;
}
#budget-text {
position: relative;
top: 6rem;
font-size: 1.5rem;
left: 0;
height: 2rem;
width: 22.2rem;
font-family: 'Roboto Condensed', sans-serif;
font-size: 800;
}
#budget-text div {
height: 0.5rem;
width: 7rem;
background-color: #2E64FE;
position: relative;
}
#budget-text p {
    position: absolute;
} 
#budget-f {
position: absolute;
display: flex;
flex-direction: column;
top: 10.5rem;
padding-bottom: 8rem;
}
#budget-f .results-div {
width: 50rem;
margin-bottom: 1.5rem;
}
#budget-f .results-div #results-content h5 {
font-size: 1.2rem;
}
#budget-f .results-div #results-content p {
font-size: 1rem;
top: -1.8rem;
}
#budget-f .results-div #results-content h6 {
font-size: 0.85rem;
top: 0;
}
#budget-f .results-div #results-content h4 {
font-size: 0.8rem;
bottom: 0;
font-size: 1rem;
background-color: rgb(46, 100, 254);
color: white;
width: fit-content;
padding: 0.7rem;
border-radius: 7px;
margin-left: 1.5rem;
bottom: 1.8rem;
}
#budget-f .results-div .results-img {
height: 13rem;
}
#budget-f .results-div .line {
position: absolute;
top: 12.1rem;
left: 0.2rem;
}
#budget-f .results-div:hover .line {
    width: 19rem;
}
#sorry-budget {
position: relative;
font-size: 2rem;
font-family: 'Roboto Condensed', sans-serif;
color: gray;
display: none;
}
.no-results-text {
    display: none;
    color: red;
    font-size: 2rem;
}
#filteredResults_List .slideFadeIn {
padding-right: 4rem;
border-radius: 7px;
}
#filteredResults_List #results-content h5 {
text-align: left;
}
#parent-section {
    display: flex;
    background-color: white;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
}
#placeList {
position: relative;
width: 100%;
background-color: #EBECF0;
top: 8rem;
padding-bottom: 10rem;
}
#placeList ul {
position: relative;
width: 55vw;
height: fit-content;
left: 21.5rem;
display:flex;
flex-direction: column;
padding-bottom: 8rem;
}
#placeList h6 {
position: relative;
height: 4rem;
color: black;
z-index: 5;
top: 2rem;
font-size: 1.3rem;
}
.results-div {
position: relative;
display: flex;
flex-direction: row;
}
.results-img {
min-width: 20rem;
max-width: 20rem;
height: 18.5rem;
overflow: hidden;
position: relative;
left: 0.2rem;
}
.results-img img {
position: relative;
height: 98%;
top: 0.7rem;
object-fit: fill;
border-radius: 7px;
width: 19rem;
}

#filteredResults_List .results-img img {
    position: relative;
    display: flex;
    left: 1rem;
    top: 2rem;
    flex-direction: column;
    border-radius: 7px;
    height: 16rem;
}

#filteredResults_List .results-img div {
    position: relative;
    top: -14rem;
    left: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #FFE34C;
    text-align: center;
    border-radius: 100%;
    vertical-align: super;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-size: 1.7rem;
    z-index: 7;
}

#filteredResults_List .results-div .line {
    position: absolute;
    background-color: #2E64FE;
    width: 0;
    height: 1rem;
    top: 17rem;
    left: 1.2rem;
    z-index: 5;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

#filteredResults_List .results-div:hover .line {
    width: 19rem;
}

.results-img div {
position: relative;
top: -1rem;
width: 3.5rem;
height: 3.5rem;
background-color: #FFE34C;
text-align: center;
border-radius: 100%;
vertical-align: super;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
font-size: 1.7rem;
z-index: 7;
}
.results-img div p {
padding-top: 0.5rem;
}
#budget-f .div-btm {
display: flex;
align-items: center;
position: relative;
bottom: 0.5rem;
}
#top-rated .div-btm {
display: flex;
flex-direction: column;
}
.results-div .line {
position: absolute;
background-color: #2E64FE;
width: 0;
height: 1rem;
top: 17.5rem;
left: 0.4rem;
z-index: 5;
-webkit-transition:width 0.3s ease;
-moz-transition:width 0.3s ease;
-o-transition:width 0.3s ease;
transition:width 0.3s ease;
}
.results-div:hover .line {
width: 20rem;
}
.results-div:hover #results-content h5 {
color: #2E64FE;
}

.results-div:hover {
cursor: pointer;
}

.results-div
#results-content {
position: relative;
display: flex;
flex-direction: column;
left: 2rem;
top: 1rem;
}
#results-content h5 {
position: relative;
align-self: flex-start;
font-weight: 800;
top: 1.3rem;
font-family: 'Roboto Condensed', sans-serif;
font-size: 1.6rem;
letter-spacing: 0.2rem;
}
#filteredResults_List h6 svg {
margin-right: 0.5rem;
}
#filteredResults_List #results-content h5 {
top: 1.8rem;
}
#results-content h4 {
position: relative;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    pointer-events: all;
    cursor: pointer;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 7px;
    bottom: 2rem;
    z-index: 5;
    background-color: #2E64FE;
}
#results-content h4 svg {
position: relative;
left: 0;
top: 0.1rem;
height: 0.9rem;
fill: white;
-webkit-transition:left 0.3s ease;
-moz-transition:left 0.3s ease;
-o-transition:left 0.3s ease;
transition:left 0.3s ease;
}
#results-content h4:hover svg {
left: 0.3rem;
}
#results-content p {
position: relative;
top: -2rem;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
font-size: 1.1rem;
color: black;
}
#filteredResults_List #results-content p {
top: -2.3rem;
}
#results-content h6 {
font-size: 0.9rem;
font-weight: 400;
margin-top: 0;
width: 80%;
position: relative;
top: -2rem;
height: 4.5rem;
overflow-y: scroll;
}

#results-content h6::-webkit-scrollbar {
  width: 3px;
}
.results-div .fa-heart {
position: relative;
right: -1.5rem;
top: 1rem;
color: gray;
pointer-events: all;
cursor: pointer;
}
.results-div .fa-heart:hover {
color: red;
}

#budget-section .results-div .fa-heart {
    display: none;
}
#placeList ul li {
background-color: white;
position: relative;
width: 100%;
height: fit-content;
margin-bottom: 2rem;
left: 4rem;
opacity: 0;
}
.slideFadeIn {
animation: slideFadeIn 0.5s;
animation-fill-mode: forwards;
display: flex;
flex-direction: column;
justify-content: center;
width: 20rem;
align-items: start;
}
@keyframes slideFadeIn {
from {
opacity: 0;
left: 7rem;
} to {
opacity: 1;
left: 0;
}
}

.slideFadeIn hr {
    position: relative;
    width: 100%;
    bottom: 2.5rem;
    border: none;
    border-top: 1px solid lightgray;
    right: 0;
}

#overlay {
    background-color: rgba(0, 0, 0,0.12);
position: fixed;
top: 0;
left: 0;
  right: 0;
  bottom: 0;
width: 100%;
height: 100%;
z-index: 2;
}
#filtersList {
  -webkit-transition:background-color 0.3s ease;
   -moz-transition:background-color 0.3s ease;
   -o-transition:background-color 0.3s ease;
   transition:background-color 0.3s ease;
}


.dropdown-div {
opacity: 0;
position: absolute;
width: 30rem;
height: 75vh;
left: 36rem;
background-color: white;
font-family: 'Roboto Condensed', sans-serif;
color: black;
padding-left: 2.5rem;
overflow-y: scroll;
pointer-events: all;
padding-bottom: 2rem;
-webkit-transition:height 0.3s ease;
-moz-transition:height 0.3s ease;
-o-transition:height 0.3s ease;
transition:height 0.3s ease;
border-radius: 10px;
}
.dropdown-downsize {
height: 15rem;
width: 25rem;
}
.noMatch {
position: absolute;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
font-size: 2.5rem;
background-color:white;
top: 4rem;
left: 38rem;
width: 23.5rem;
height: 13rem;
z-index: 3;
}
.opacity1 {
animation: fadeIn 0.6s;
animation-fill-mode: forwards;
}
.dropdown-div a {
margin-bottom: 3rem;
cursor: pointer;
}
.dropdown-div a img {
width: 10rem;
height: 7rem;
border-radius: 10px;
}

.DDp {
color: black;
font-weight: 200;
font-size: 1rem;
}
.dropdown-div a .DDtitle {
color: black;
font-weight:800;
font-size: 1.2rem;
font-family: 'Roboto Condensed', sans-serif;
}
.floater {
margin-left: 2rem;
font-family: 'Roboto Condensed';
}
#place-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 9rem;
}
#placeImage {
    height: 35rem;
    width: 56rem;
margin-left: 0%;
    position: relative;
    top: 11rem;
    display: flex;
    left: 1rem;
}
#placeImage img {
    width: -webkit-fill-available;
    border-radius:10px;
}
body {
    margin: auto;
}
#rating {
    background-color: #FFE34C;
    height: 5rem;
    border-radius: 100%;
    position: relative;
    right: 6rem;
    top: 0.8rem;
    padding-left: 1rem;
padding-right: 1rem;
}
.filterDD {
    font-family: 'Roboto Condensed';
}
.filterDD a input {
    width: fit-content;
    position: relative;
    top: 0.3rem;
}
.filterDD a {
    position: absolute;
    display: none;
}
.filterDD:hover a {
    display: block;
    color: black;
    padding: 5px;
background-color: whitesmoke;
border-radius: 3px 3px 3px 3px;
}
.filter-container {
    display:none;
    flex-direction:column;
    position: absolute;
    align-items: flex-start;
    border-radius: 7px;
    font-weight: 400;
    background-color: whitesmoke;
    color: black;
    padding-bottom: 1rem;
}
.cities-container {
    display:none;
    flex-direction:column;
    position: absolute;
    align-items: flex-start;
    border-radius: 7px;
    font-weight: 400;
    background-color: whitesmoke;
    color: black;
    padding-bottom: 1rem;
}
.filter-container li input {
width: 1rem;
justify-self: flex-end;
position: relative;
top: 0.2rem; 
}
.cities-container li input {
width: 1rem;
justify-self: flex-end;
position: relative;
top: 0.2rem; 
}
.notMatch {
    width: 10rem;
    height: 10rem;
}
#filters-btn:hover .filter-container {
    display:flex;
}
#cities-btn:hover .cities-container {
    display:flex;
}
.filter p {
display: inline-block;
width: 100px;
padding-right: 1rem;
}
.filter input {
position: relative;
right: 1rem;
cursor: pointer;
}
.fa-magnifying-glass {
    width: 1rem;
    height: 1rem;
    color: white;
    z-index: 100;
    left: 1rem;
    position: relative;
}
.rating-yellow {
margin: 0;
font-size: 2.5rem;
color: black;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
text-align: center;
margin-top: 1rem;
}
.addtrip {
    display: block;
}
#upper-page-sec {
display: flex;
justify-content: space-between;
}
#placeName {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    color: black;
   position: relative;
   width: fit-content;
   padding: 0.3rem 1rem 0.5rem 1rem;
   font-size: 4rem;
   top: 9.5rem;
   height: fit-content;
   border-radius: 10px;
}
.citytxt {
font-family: 'Roboto Condensed', sans-serif;
color: #2E64FE;
font-weight: 700;
position: relative;
top: 10rem;
margin-left: 1.5rem;
}
#mapBtn {
font-family: 'Roboto Condensed', sans-serif;
font-weight: 700;
cursor: pointer;
transition: font-size 0.3s ease;
width: 5rem;
}
#mapBtn:hover {
font-size: 1.1rem
}
#mapBtn a {
color: black;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
}
#placeSearch {
position: relative;
bottom: 0.4rem;
border: 0.5px solid white;
right: 3rem;
height: 1.6rem;
border: 1px solid lightgray;
border-radius: 7px;
pointer-events: all;
}
#placeSearch:focus {
outline: none;
}

#typeANDarea {
    display: flex;
    flex-direction: column;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
align-items: flex-start;
}
.type {
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}

.perfectFor {
font-size: 1rem;
position: relative;
margin: 0;
color: black;
background-color: #FFE34C;
padding: 0 1rem 0 0;
font-weight: 800;
}
.perfectFor p {
position: relative;
display: inline;
color: black;
}
.area {
    font-size: 1.5rem;
margin-top: 0;
}
#moneyANDaddress {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.money {
    font-size: 1rem;
    margin-right: 0.8rem;
    margin-top: 0;
color: black;
}
.address {
    font-size: 1rem;
    margin-top: 0;
}
#webANDfave {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 800;
}
.inner {
    display: flex;
}
.web {
    font-size: 0.9rem;
    margin-right: 1rem;
font-family: 'Roboto Condensed', sans-serif;
cursor: pointer;
}
.web .fa-solid {
margin-right: 0.5rem;
}
#fave {
font-size: 0.9rem;
font-family: 'Roboto Condensed', sans-serif;
cursor: pointer;
}
#fave .fa-solid {
margin-right: 0.5rem;
}

#suggestionsSec h2 {
position: relative;
top: 2rem;
}
#suggestionsSec .line {
position: relative;
top: 5.5rem;
}
#suggestionContainer {
    height: 33rem;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 17rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6rem;
}
.line {
    height: 0.5rem;
    width: 5rem;
background-color: #2E64FE;
}
.b-1 {
background-color: rgba(46, 100, 254,0);
-webkit-transition:color 0.3s ease;
   -moz-transition:color 0.3s ease;
   -o-transition:color 0.3s ease;
   transition:color 0.3s ease;
}
.b-1:focus {
outline: none;
}
.suggestedPlace {
display:flex;
flex-direction: column;
font-family: 'Roboto Condensed', sans-serif;
margin-bottom: -5rem;
}
.suggestedPlace div {
position: relative;
width: 8rem;
height: 0.3rem;
width: 0;
top: 8.8rem;
background-color: #FFE34C;;
z-index: 7;
-webkit-transition:width 0.3s ease;
-moz-transition:width 0.3s ease;
-o-transition:width 0.3s ease;
transition:width 0.3s ease;
}
.suggestedPlace:hover div {
width: 8rem;
}
.suggestedPlace:hover {
cursor: pointer;
}
.suggtitle {
font-size: 1rem;
margin-bottom: 0.3rem;
pointer-events: all;
cursor: pointer;
text-wrap: wrap;
}
.suggrating {
display: none;
}
.suggfave {
display: none;
}
.suggarea {
margin-left: 0.5rem;
margin-top: 0.1rem;
position: relative;
left: 8.5rem;
bottom: 6rem;
font-weight: 700;
}
.suggtype {
margin-left: 0.5rem;
margin-top: 0.1rem;
position: relative;
font-size: 0.8rem;
left: 8.5rem;
bottom: 7rem;
font-weight: 700;
}
.suggprice {
margin-left: 0.5rem;
margin-top: 0.1rem;
position: relative;
left: 8.5rem;
bottom: 7rem;
font-weight: 700;
}
.fa-fire {
width: 1rem;
height: 1rem;
}
.activeH {
background-color: "white";
}
.suggpop {
margin: 0;
    display: inline;
}
.suggestedPlace img {
height: 6rem;
width: 8rem;
border-radius: 10px;
}
.suggestedPlace hr {
position: relative;
bottom: 4.5rem;
height: -2rem;
border: none;
width: 15rem;
margin-left: 0;
background-color: lightgray;
}
#suggestionsSec h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    position: absolute;
    width: fit-content;
    bottom: 9rem;
}
.backdrop-plane {
position: relative;
z-index: 2;
width: 1.5rem;
height: 1.5rem;
margin-right: 2.5rem;
color: #2E64FE;
}
#reviewsContainer {
    background-color: white;
    height: fit-content;
    width: 60%;
    margin: auto;
    position: relative;
}
#write {
position: relative;
margin-bottom: 5rem;
right: 0.5rem;
background-color: #2E64FE;
color: white;
height: fit-content;
}
#reviewWriting {
position: relative;
right: 2rem;
bottom: 4rem;
display: none;
-webkit-transition:width 0.3s ease;
-moz-transition:width 0.3s ease;
-o-transition:width 0.3s ease;
transition:width 0.3s ease;
}
#reviewWriting div {
font-family: 'Roboto Condensed', sans-serif;
font-size: 2rem;
position: relative;
left: 2rem;
}
#your-review {
outline: none;
}
#reviewWriting #freeform {
    position: relative;
    left: 2rem;
    top: 1rem;
    text-align: left;
}
#rating-field {
border:none;
font-size: 2rem;
font-family: 'Roboto Condensed', sans-serif;
border-bottom: 1px solid #2E64FE;
margin-right: 0.5rem;
overflow: none;
resize: none;
text-align: center;
}
#rating-field:focus {
outline: none;
}
#reviewWriting button {
background-color: #2E64FE;
color: white;
    width: 5rem;
    height: 3rem;
position: relative;
right: 22rem;
top: 2rem;
}
#reviewWriting button:active {
outline: none;
}
#reviewWriting h4 {
position: relative;
top: 2rem;
left: 2rem;
    font-size: 1.5rem;
    width: 70%;
font-family: 'Roboto Condensed', sans-serif;

}
#write:focus #reviewWriting {
    width: 30vw;
}
.tophr {
    width: 75vw;
    height: 1px;
    margin: 0;
    border-left: none;
    border-right: none;
}
.btmhr {
    width: 75vw;
    height: 1px;
    margin: 0;
    border-left: none;
    border-right: none;
}
.money-place-div {
display: flex;
margin-top: 0.2rem;
}
#reviews-sec-start {
text-align: center;
margin-top: 8rem;
font-family: 'Roboto Condensed';
font-weight: 800;
width: 100vw;
margin-top: 15rem;
}
.addtotrip {
pointer-events: all;
cursor: pointer;
font-family: 'Roboto Condensed', sans-serif;
position: relative;
font-size: 0.9rem;
left: 1rem;
-webkit-transition:left 0.3s ease;
-moz-transition:left 0.3s ease;
-o-transition:left 0.3s ease;
transition:left 0.3s ease;
}
.addtotrip:hover .fa-chevron-right {
left: -1rem;
}
#h1 {
font-family: 'Roboto Condensed', sans-serif;
font-weight: 900;
font-size: 3.5rem;
position: relative;
text-shadow: -6px 0px 0px #2E64FE;
-webkit-text-stroke: 1px black;
color: white;
}
#top-rated .results-div #results-content {
    left: -1rem;

}
#filteredResults_List #results-content h6 {
    width: 80%;
    top: 0;
    }
    #filteredResults_List hr {
        display: none;
    }
    #budget-f hr {
        display: none;
    }
@media screen and (max-width: 1668px) {
#budget-best-section {
margin: 0 15rem 14rem 15rem;
}
}
@media screen and (max-width: 1554px) {
    #placeImage {
        width: 55vw;
        height: 40vw;
    }
}
@media screen and (max-width: 1415px) {
#budget-best-section {
    margin: 0 10rem 14rem 10rem;
}
#budget-f .results-div #results-content h6 {
    width: 19rem;
}
}
@media screen and (min-width: 1300px) {
        #top-rated .results-div .results-img div p {
        position: relative;
        bottom: 1.5rem;
        }
        
}
@media screen and (max-width: 1300px) {
#budget-best-section {
margin: 2rem;
}
#placeList ul {
left: 1rem;
width: 90vw;
}
#placeList ul li {
height: fit-content;
}
#placeList ul li img {
height: 13.5rem;
width: 6rem;
}
.results-div .line {
position: absolute;
top: 13.2rem;
left: 1.4rem;
}
.results-img div {
position: absolute;
top: 1.5rem;
left: 1rem;
}
.results-img div p {
margin-top: 0;
bottom: 0;
}
#filteredResults_List .results-img div {
top: -13rem;
}
#moneyANDaddress {
position: relative;
top: 6.5rem;
left: 0.6rem;
}
#place-container {
margin-left: 0.5rem;
}
.suggestedPlace img {
height: 4rem;
width: 6rem;
}
.suggestedPlace p {
font-size: 0.8rem;
left: 7rem;
bottom: 4rem;
}
.suggarea {
margin-bottom: 0.3rem;
}
.suggprice {
top: -4.5rem;
}
.suggestedPlace div {
top: 6.8rem;
}
.suggestedPlace:hover .suggtitle {
color: #2E64FE;
}
.suggestedPlace:hover div {
width: 6rem;
}
.dropdown-div {
left: 17rem;
}
.tophr {
width: 94vw;
left: 3.8rem;
}
.btmhr {
width: 94vw;
left: 3.8rem;
}
#budget-f hr {
    display: none;
}

#budget-f .results-div .results-img {
height: 13rem;
max-width: 11rem;
min-width: 11rem;
}
#results-content h6 {
width: 60%;
}
#filteredResults_List .results-img {
height: 19rem;
}
#filteredResults_List .results-div .line {
    top: 17rem;
}
#budget-f .results-div:hover .line {
    width: 11rem;
}
#budget-section {
    top: 4.5rem;
}
}

@media screen and (max-width: 1343px) {
    
}

#filteredResults_List .fa-heart {
    display: none;
}

#bottom-page-container {
    background-color: white;
}
    
    #suggestionsSec {
        position: relative;
        top: 10rem;
        height: 10rem;
        width: 5rem;
        right: 30rem;
        white-space: nowrap;
    }

    @media screen and (max-width: 1606px) {
        #suggestionsSec {
            right: 20.5rem;
        }
    }

@media screen and (max-width: 1045px) {
#budget-best-section {
flex-direction: column;
}
#budget-f {
position: relative;
}
#budget-section {
flex-direction: column;
}

#h1 {
width: 25rem;
}
#placeList .results-div:hover .line {
width: 11rem;
}
#placeList {
top: 17rem;
}
#top-rated-text {
    left: 0;
}
}

@media screen and (max-width: 999px) {
#suggestionContainer {
height: 30rem;
}
 #budget-f .results-div:hover .line {
display: none;
}
}

@media screen and (max-width: 870px) {
    #filteredResults_List .results-img {
        height: 17rem;
        top: 1rem;
    }
}

@media screen and (max-width: 836px) {
    #suggestionContainer {
    height: 28rem;
    }
    }

@media screen and (max-width: 730px) {
#budget-f .results-div #results-content h5 {
width: 20rem;
text-align: left;
}
#bottom-page-container {
    position: relative;
    top: 7rem;
}
#upper-page-sec {
flex-direction: column;
align-items: start;
}
#suggestionsSec {
    right: 0;
    width: auto;
    height: fit-content;
}
#suggestionContainer {
    height: fit-content;
    right: -2rem;
    width: 92vw;
    padding-bottom: 10rem;
}
.suggestedPlace img {
    height: 7rem;
    width: 9rem;
}
.suggtitle {
font-size: 1.2rem;
}
.suggestedPlace p {
    font-size: 1rem;
    left: 10rem;
    bottom: 7rem;
}
.suggprice {
    top: -5.5rem;
}
.suggestedPlace:hover div {
width: 9rem;
}
.suggestedPlace div {
    top: 10rem;
}
.suggestedPlace hr {
    width: 38rem;
}
#placeName {
    padding: 0.3rem 0 0.5rem 1rem;
}
#suggestionsSec h2 {
left: 2rem;
}
#suggestionsSec .line {
left: 2rem;
}
#placeImage {
width: 90vw;
height: 60vw;
object-fit: cover;
}
#overall-page {
display: flex;
flex-direction: column;
background-color: white;
}
.App::-webkit-scrollbar {
    display: none;
}
}

@media screen and (max-width: 676px) {
#filteredResults_List .results-img {
height: 15rem;
min-width: 10rem;
max-width: 10rem;
}
#placeList ul li img {
height: 15rem;
width: 10rem;
}
#placeList .results-div:hover .line {
width: 10rem;
}
}

@media screen and (max-width: 658px) {
#budget-f .results-div #results-content h6 {
width: 40%;
}
}

@media screen and (max-width: 570px) {
    #budget-f .results-div #results-content h5 {
        width: 14rem;
    }
    #budget-f .results-div #results-content h6 {
        width: 25%;
    }
    #budget-f .div-btm {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
    #budget-f .results-div #results-content h4 {
    margin-left: 0;
    bottom: 3rem;
    }
}

@media screen and (max-width: 535px) { 
    #budget-f .results-div .results-img {
        object-fit: cover;
        height: 11rem;
        bottom: 12rem;
    }
    #budget-f .results-div .results-img img {
        display: none;
    }
    #budget-f .results-div .results-img {
        position: absolute;
        min-width: 23rem;
    }
    #budget-f .results-div #results-content {
    left: 0rem;
    top: -4rem;
    }
    .results-div .fa-heart {
        display: none;
    }
    #budget-section #rating-div {
        position: absolute;
        left: 17rem;
        top: 0rem;
    }
    #budget-f .results-div #results-content h6 {
        width: 46%;
    }
    #top-rated .results-div #results-content {
        left: 0;
    }
    .results-div {
        flex-direction: column;
    }
}

@media screen and (max-width: 501px) { 
    #placeList ul li img {
        position: absolute;
        opacity: 0;
        height: 0px;
        width: 0px;
    }
    #filteredResults_List .results-div #results-content {
        left: -3rem;
    }
}

@media screen and (max-width: 484px) { 
  #filteredResults_List .results-div:hover .line {
    width: 0;
  }
    #budget-f .results-div #results-content h6 {
        width: 80%;
    }
    #budget-f .results-div {
        width: 27rem;
    }
    #filteredResults_List .results-img div {
        top: -14rem;
    }
}

@media screen and (max-width: 454px) {
  #reviews-sec-start {
    margin-top: 11rem;
    margin-bottom: 4rem;
  }
  #reviewsContainer {
      width: 80%;
  }
    #filteredResults_List #results-content h6 {
        width: 95%;
    }
    #top-rated .results-div #results-content h4 {
        width: 5.1rem;
    }
    #filteredResults_List .results-img img {
        opacity: 1;

    }
    #filteredResults_List .results-img {
        min-width: 120%;
        left: 1rem;
    }
    #filteredResults_List .results-img div {
        position: relative;
        top: -12rem;
        left: 2rem;
    }
    #filteredResults_List .results-div #results-content {
        left: 2rem;
        top: 1rem;
    }
    #filteredResults_List #results-content h5 {
        font-size: 1.5rem;
    }
    .slideFadeIn hr {
        left: 0;
    }
    #budget-f .results-div #results-content h6 {
        width: 99%;
    }
    #highly-rated-section {
        top: 6rem;
    }
    #filteredResults_List .results-div #results-content {
        left: 2rem;
        width: 21rem;
    }
    #top-rated .results-div #results-content h5 {
        width: 23rem;
    }
    #top-rated .results-div .results-img div {
        left: 0rem;
    }
    
}

@media screen and (max-width: 404px) { 
#filteredResults_List #results-content h5 {
font-size: 1.2rem; 
}
#filteredResults_List #results-content p {
font-size: 0.9rem;
}
#budget-f .results-div {
    width: 21rem;
}
}

@media screen and (max-width: 391px) {
    #placeName #h1 {
        width: 100%;
    }
}

