@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.App {
display: flex;
flex-direction: column;
overflow-x: hidden;
align-items: center;
}
#lottie {
    position: absolute;
    width: 30vw;
    height: 30vh;
    z-index: 9000000000;
    left:35%;
    top: 20vh;
    }
    #lottie-bg {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 900000;
    background-color: white;
    }
#grayBackdrop {
width: 100vw;
height: 100vh;
background-color: #EBECF0;
}
#return-home {
height: fit-content;
width: fit-content;
background-color: #2E64FE;
justify-content: center;
position: fixed;
bottom: 2rem;
left: 45%;
z-index: 90000000000;
display: none;
opacity: 0.3;
}
#return-home:hover {
opacity: 1;
}
#return-home a {
color: white;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
}
#suggH4 {
    margin-top: 1.3rem;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
    z-index: 99;
}
@media screen and (max-width: 663px) {
    #suggH4 {
        margin-bottom: 6rem;
        font-size: 2.5rem;
        left: -2rem;
    }
    .seachNode {
        position: absolute;
        left: 1.5rem;
        top: 6rem;
    }
    #carousel {
        overflow-y: scroll;
        height: 39rem;
    }
    #grid-view {
        top: 8.5rem;
        left: 1.5rem;
        font-size: 1.2rem;
    }
}

@keyframes slideFadeIn {
from {
opacity: 0;
left: 7rem;
} to {
opacity: 1;
left: 0;
}
}

#overlay {
    background-color: rgba(0, 0, 0,0.12);
position: fixed;
top: 0;
left: 0;
  right: 0;
  bottom: 0;
width: 100%;
height: 100%;
z-index: 2;
}

.dropdown-div {
opacity: 0;
position: absolute;
width: 30rem;
height: 75vh;
background-color: white;
font-family: 'Roboto Condensed', sans-serif;
color: black;
padding-left: 2.5rem;
overflow-y: scroll;
pointer-events: all;
padding-bottom: 2rem;
-webkit-transition:height 0.3s ease;
-moz-transition:height 0.3s ease;
-o-transition:height 0.3s ease;
transition:height 0.3s ease;
border-radius: 10px;
left: -5.5rem;
top: 4rem;
}
.dropdown-downsize {
height: 15rem;
width: 25rem;
}
.noMatch {
position: absolute;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
font-size: 2.5rem;
background-color:white;
top: 4rem;
left: 38rem;
width: 23.5rem;
height: 13rem;
z-index: 3;
}
.opacity1 {
animation: fadeIn 0.6s;
animation-fill-mode: forwards;
}
.dropdown-div a {
margin-bottom: 3rem;
cursor: pointer;
}
.dropdown-div a img {
width: 10rem;
height: 7rem;
border-radius: 10px;
}

.DDp {
color: black;
font-weight: 200;
font-size: 1rem;
}
.dropdown-div a .DDtitle {
color: black;
font-weight:800;
font-size: 1.2rem;
font-family: 'Roboto Condensed', sans-serif;
}
.floater {
margin-left: 2rem;
font-family: 'Roboto Condensed';
}
#place-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 9rem;
}
#placeImage {
    height: 35rem;
    width: 56rem;
margin-left: 0%;
    position: relative;
    top: 11rem;
    display: flex;
    left: 1rem;
}
#placeImage img {
    width: -webkit-fill-available;
    border-radius:10px;
}
body {
    margin: auto;
}
#rating {
    background-color: #FFE34C;
    height: 5rem;
    border-radius: 100%;
    position: relative;
    right: 6rem;
    top: 0.8rem;
    padding-left: 1rem;
padding-right: 1rem;
}
.filterDD {
    font-family: 'Roboto Condensed';
}
.filterDD a input {
    width: fit-content;
    position: relative;
    top: 0.3rem;
}
.filterDD a {
    position: absolute;
    display: none;
}
.filterDD:hover a {
    display: block;
    color: black;
    padding: 5px;
background-color: whitesmoke;
border-radius: 3px 3px 3px 3px;
}
.filter-container {
    display:none;
    flex-direction:column;
    position: absolute;
    align-items: flex-start;
    border-radius: 7px;
    font-weight: 400;
    background-color: whitesmoke;
    color: black;
    padding-bottom: 1rem;
}
.cities-container {
    display:none;
    flex-direction:column;
    position: absolute;
    align-items: flex-start;
    border-radius: 7px;
    font-weight: 400;
    background-color: whitesmoke;
    color: black;
    padding-bottom: 1rem;
}
.filter-container li input {
width: 1rem;
justify-self: flex-end;
position: relative;
top: 0.2rem; 
}
.cities-container li input {
width: 1rem;
justify-self: flex-end;
position: relative;
top: 0.2rem; 
}
.notMatch {
    width: 10rem;
    height: 10rem;
}
#filters-btn:hover .filter-container {
    display:flex;
}
#cities-btn:hover .cities-container {
    display:flex;
}
.filter p {
display: inline-block;
width: 100px;
padding-right: 1rem;
}
.filter input {
position: relative;
right: 1rem;
cursor: pointer;
}
.fa-magnifying-glass {
    width: 1rem;
    height: 1rem;
    color: white;
    z-index: 100;
    left: 1rem;
    position: relative;
}
.rating-yellow {
margin: 0;
font-size: 2.5rem;
color: black;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
text-align: center;
margin-top: 1rem;
}
.addtrip {
    display: block;
}
#upper-page-sec {
display: flex;
justify-content: space-between;
}
#placeName {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    color: black;
   position: relative;
   width: fit-content;
   padding: 0.3rem 1rem 0.5rem 1rem;
   font-size: 4rem;
   top: 9.5rem;
   height: fit-content;
   border-radius: 10px;
}
.citytxt {
font-family: 'Roboto Condensed', sans-serif;
color: #2E64FE;
font-weight: 700;
position: relative;
top: 10rem;
margin-left: 1.5rem;
}
#mapBtn {
font-family: 'Roboto Condensed', sans-serif;
font-weight: 700;
cursor: pointer;
transition: font-size 0.3s ease;
width: 5rem;
}
#mapBtn:hover {
font-size: 1.1rem
}
#mapBtn a {
color: black;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
}
#placeSearch {
position: relative;
bottom: 0.4rem;
border: 0.5px solid white;
right: 3rem;
height: 1.6rem;
border: 1px solid lightgray;
border-radius: 7px;
pointer-events: all;
}
#placeSearch:focus {
outline: none;
}

#typeANDarea {
    display: flex;
    flex-direction: column;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 800;
align-items: flex-start;
}
.type {
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}

.perfectFor {
font-size: 1rem;
position: relative;
margin: 0;
color: black;
background-color: #FFE34C;
padding: 0 0.5rem 0 0.5rem;
font-weight: 800;
border-radius: 7px;
}
.perfectFor p {
position: relative;
display: inline;
color: black;
}
.area {
    font-size: 1.5rem;
margin-top: 0;
}
#moneyANDaddress {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.money {
    font-size: 1rem;
    margin-right: 0.8rem;
    margin-top: 0;
color: black;
}
.address {
    font-size: 1rem;
    margin-top: 0;
}
#webANDfave {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 800;
}
.inner {
    display: flex;
}
.web {
    font-size: 0.9rem;
    margin-right: 1rem;
font-family: 'Roboto Condensed', sans-serif;
cursor: pointer;
}
.web .fa-solid {
margin-right: 0.5rem;
}
#fave {
font-size: 0.9rem;
font-family: 'Roboto Condensed', sans-serif;
cursor: pointer;
}
#fave .fa-solid {
margin-right: 0.5rem;
}

#suggestionsSec h2 {
position: relative;
top: 2rem;
}
#suggestionsSec .line {
position: relative;
top: 5rem;
border-radius: 7px;
}
#suggestionContainer {
    height: 33rem;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 17rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6rem;
}
.line {
    height: 0.5rem;
    width: 5rem;
background-color: #2E64FE;
}
.b-1 {
background-color: rgba(46, 100, 254,0);
font-family: 'Roboto Condensed', sans-serif;
-webkit-transition:color 0.3s ease;
   -moz-transition:color 0.3s ease;
   -o-transition:color 0.3s ease;
   transition:color 0.3s ease;
}
.b-1:focus {
outline: none;
}
.suggestedPlace {
display:flex;
flex-direction: column;
font-family: 'Roboto Condensed', sans-serif;
margin-bottom: -5rem;
}
.suggestedPlace div {
position: relative;
width: 8rem;
height: 0.5rem;
width: 0;
top: 8.5rem;
border-radius: 0 0 15px 15px;
background-color: #FFE34C;;
z-index: 7;
-webkit-transition:width 0.3s ease;
-moz-transition:width 0.3s ease;
-o-transition:width 0.3s ease;
transition:width 0.3s ease;
}
.suggestedPlace:hover div {
width: 8rem;
}
.suggestedPlace:hover {
cursor: pointer;
}
.suggtitle {
font-size: 1rem;
margin-bottom: 0.3rem;
pointer-events: all;
cursor: pointer;
text-wrap: wrap;
}
.suggrating {
display: none;
}
.suggfave {
display: none;
}
.suggarea {
margin-left: 0.5rem;
margin-top: 0.1rem;
position: relative;
left: 8.5rem;
bottom: 6rem;
font-weight: 700;
}
.suggtype {
margin-left: 0.5rem;
margin-top: 0.1rem;
position: relative;
font-size: 0.8rem;
left: 8.5rem;
bottom: 7rem;
font-weight: 700;
}
.suggprice {
margin-left: 0.5rem;
margin-top: 0.1rem;
position: relative;
left: 8.5rem;
bottom: 7rem;
font-weight: 700;
}
.fa-fire {
width: 1rem;
height: 1rem;
}
.activeH {
background-color: "white";
}
.suggpop {
margin: 0;
    display: inline;
}
.suggestedPlace img {
height: 6rem;
width: 8rem;
border-radius: 10px;
}
.suggestedPlace hr {
position: relative;
bottom: 4.5rem;
height: -2rem;
border: none;
width: 15rem;
margin-left: 0;
background-color: lightgray;
}
#suggestionsSec h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    position: absolute;
    width: fit-content;
    bottom: 9rem;
}
.backdrop-plane {
position: relative;
z-index: 2;
width: 1.5rem;
height: 1.5rem;
margin-right: 2.5rem;
color: #2E64FE;
}
#reviewsContainer {
    background-color: white;
    height: fit-content;
    width: 60%;
    margin: auto;
    position: relative;
}
#write {
position: relative;
margin-bottom: 5rem;
right: 0.5rem;
background-color: #2E64FE;
color: white;
height: fit-content;
border-radius: 7px;
font-weight: 600;
font-family: 'Roboto Condensed', sans-serif;
}
#reviewWriting {
position: relative;
right: 2rem;
bottom: 4rem;
display: none;
-webkit-transition:width 0.3s ease;
-moz-transition:width 0.3s ease;
-o-transition:width 0.3s ease;
transition:width 0.3s ease;
}
#reviewWriting div {
font-family: 'Roboto Condensed', sans-serif;
font-size: 2rem;
position: relative;
left: 2rem;
}
#your-review {
outline: none;
}
#reviewWriting #freeform {
    position: relative;
    left: 2rem;
    top: 1rem;
    text-align: left;
}
#rating-field {
border:none;
font-size: 2rem;
font-family: 'Roboto Condensed', sans-serif;
border-bottom: 1px solid #2E64FE;
margin-right: 0.5rem;
overflow: none;
resize: none;
text-align: center;
}
#rating-field:focus {
outline: none;
}
#reviewWriting button {
background-color: #2E64FE;
color: white;
    width: 5rem;
    height: 3rem;
position: relative;
right: 22rem;
top: 2rem;
}
#reviewWriting button:active {
outline: none;
}
#reviewWriting h4 {
position: relative;
top: 2rem;
left: 2rem;
    font-size: 1.5rem;
    width: 70%;
font-family: 'Roboto Condensed', sans-serif;

}
#write:focus #reviewWriting {
    width: 30vw;
}
.tophr {
    width: 75vw;
    height: 1px;
    margin: 0;
    border-left: none;
    border-right: none;
}
.btmhr {
    width: 75vw;
    height: 1px;
    margin: 0;
    border-left: none;
    border-right: none;
}
.money-place-div {
display: flex;
margin-top: 0.2rem;
}
#reviews-sec-start {
text-align: center;
margin-top: 8rem;
font-family: 'Roboto Condensed';
font-weight: 800;
width: 100vw;
margin-top: 15rem;
}
.addtotrip {
pointer-events: all;
cursor: pointer;
font-family: 'Roboto Condensed', sans-serif;
position: relative;
font-size: 0.9rem;
left: 1rem;
-webkit-transition:left 0.3s ease;
-moz-transition:left 0.3s ease;
-o-transition:left 0.3s ease;
transition:left 0.3s ease;
}
.addtotrip:hover .fa-chevron-right {
left: -1rem;
}
#h1 {
font-family: 'Roboto Condensed', sans-serif;
font-weight: 900;
font-size: 3.5rem;
position: relative;
text-shadow: -6px 0px 0px #2E64FE;
-webkit-text-stroke: 1px black;
color: white;
}

#footer-main-title {
    display: flex;
    justify-content: start;
    align-items: center;
}

#footer-main-title h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

#footer-main {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 2.5rem;
    padding-top: 10rem;
    margin-top: 6rem;
    z-index: -1;
}

#footer-main-cities h4 {
    margin-bottom: 0;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#footer-main-cities div {
    display: flex;
}

#main-footer-section {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1.5rem 0 5.5rem 0;
    align-items: flex-start;
    justify-content: space-between;
}

#footer-main-child-2 {
    margin-top: 0;
    display: flex;
    flex-direction: row-reverse;
}

#subscribe-info input {
    margin-left: 0;
    border: none;
    margin: 0;
    height: 100%;
    padding: 0.7rem 0.4rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

#subscribe-info button {
    background-color: black;
    color: white;
    border: none;
    height: 2rem;
    margin-left: 0.5rem;
    width: fit-content;
    font-weight: 600;
    margin: 0;
    height: 100%;
    margin-top: 0.5rem;
}

#getonlist {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#subscribe-info h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

#footer-slogan {
    font-size: 1.2rem;
    margin-top: 1rem;
}

#cities-info {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    border-right: 0.15rem solid white;
}

#cities-info h4 {
    margin-top: 0;
}

#cities-div {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;

}

#cities-info p {
    margin-top: 0;
}

#company-info {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

#company-info h4 {
    margin-top: 0;
}

#company-info p {
    margin-top: 0;
}

.direct {
    margin-top: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
}

#contact-footer {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

#contact-footer h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

#contact-info {
    display: flex;
    align-items: start;
    margin-top: 0;
}

#contact-info svg {
    height: 1.3rem;
    margin-right: 0.5rem;
}

#contact-info p {
    margin-top: 0;
}


#footer-main-cities div p {
    margin-right: 1rem;
    margin-top: 0;
}
@media screen and (max-width: 1554px) {
    #placeImage {
        width: 55vw;
        height: 40vw;
    }
}
@media screen and (max-width: 1300px) {
    #footer-main {
        padding: 2.5rem 5rem 2.5rem 5rem;
    }
    #contact-footer {
        margin-right: 2rem;
    }

#moneyANDaddress {
position: relative;
top: 6.5rem;
left: 0.6rem;
}
#place-container {
margin-left: 5rem;
}
.suggestedPlace img {
height: 4rem;
width: 6rem;
}
.suggestedPlace p {
font-size: 0.8rem;
left: 7rem;
bottom: 4rem;
}
.suggarea {
margin-bottom: 0.3rem;
}
.suggprice {
top: -4.5rem;
}
.suggestedPlace div {
top: 6.8rem;
}
.suggestedPlace:hover .suggtitle {
color: #2E64FE;
}
.suggestedPlace:hover div {
width: 6rem;
}
.tophr {
width: 94vw;
left: 3.8rem;
}
.btmhr {
width: 94vw;
left: 3.8rem;
}
}

@media screen and (max-width: 1343px) {
    
}

#bottom-page-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
    #suggestionsSec {
        position: relative;
        top: 10rem;
        height: 10rem;
        width: 5rem;
        right: 30rem;
        white-space: nowrap;
    }

    @media screen and (max-width: 1606px) {
        #suggestionsSec {
            right: 20.5rem;
        }
    }

@media screen and (max-width: 1045px) {


#h1 {
width: 25rem;
}
}

@media screen and (max-width: 999px) {
#suggestionContainer {
height: 30rem;
}
#footer-main {
    padding: 2.5rem 2rem 2.5rem 2rem;
}
#contact-footer {
    margin-right: 2rem;
}
}

@media screen and (max-width: 836px) {
    #suggestionContainer {
    height: 28rem;
    }
    #footer-main-child-2 {
        flex-direction: column;
        margin-left: 4rem;
    }
    #contact-footer {
        padding-left: 0;
        margin-top: 2rem;
    }
    }

@media screen and (max-width: 730px) {
    #place-container {
        margin-left: 1rem;
    }
#bottom-page-container {
    position: relative;
    top: 7rem;
}
#upper-page-sec {
flex-direction: column;
align-items: start;
}
#suggestionsSec {
    right: 0;
    width: auto;
    height: fit-content;
}
#suggestionContainer {
    height: fit-content;
    right: -2rem;
    width: 92vw;
    padding-bottom: 10rem;
}
.suggestedPlace img {
    height: 7rem;
    width: 9rem;
}
.suggtitle {
font-size: 1.2rem;
}
.suggestedPlace p {
    font-size: 1rem;
    left: 10rem;
    bottom: 7rem;
}
.suggprice {
    top: -5.5rem;
}
.suggestedPlace:hover div {
width: 9rem;
}
.suggestedPlace div {
    top: 10rem;
}
.suggestedPlace hr {
    width: 38rem;
}
#placeName {
    padding: 0.3rem 0 0.5rem 1rem;
}
#suggestionsSec h2 {
left: 2rem;
}
#suggestionsSec .line {
left: 2rem;
}
#placeImage {
width: 90vw;
height: 60vw;
object-fit: cover;
}
#overall-page {
display: flex;
flex-direction: column;
background-color: white;
}
.App::-webkit-scrollbar {
    display: none;
}
}

@media screen and (max-width: 658px) {
#footer-main-child-2 {
    margin-left: 2rem;
}
}

@media screen and (max-width: 570px) {
  
    #main-footer-section {
        flex-direction: column;
    }
    #footer-main-child-2 {
        margin-left: 1rem;
        margin-top: 0rem;
    }
    #footer-slogan {
        margin-left: 1rem;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
    #footer-main-title {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 454px) {
  #reviews-sec-start {
    margin-top: 11rem;
    margin-bottom: 4rem;
  }
  #reviewsContainer {
      width: 80%;
  }
}

@media screen and (max-width: 391px) {
    #placeName #h1 {
        width: 100%;
    }
}

