@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

#place-backdrop {
    margin-top: 5rem;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
}

#place-backdrop #place-basic-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 80%;
    position: relative;
}

#place-basic-info-left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#place-basic-info-right {
    position: relative;
    top: -3rem;
    width: 30rem;
}

#scroll-down-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#scroll-down-div svg {
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 100%;
    margin-left: 0.5rem;
}

#place-photos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#place-photos-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#place-photos img {
    width: 18rem;
    height: 13rem;
    margin: 0.5rem;
    border-radius: 15px;
}


#photo-img-map div {
    width: 15rem;
    height: 10.5rem;
    border-radius: 15px;
}

#photo-img-1 {
    object-fit: cover;
}

#photo-img-2 {
    object-fit: cover;
}

#photo-img-3 {
    object-fit: cover;
}

#place-backdrop #place-basic-info h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#place-backdrop #place-basic-info #cost-serving {
    display: flex;
    justify-content: center;
    align-items: center;
}

#place-backdrop #place-basic-info #cost-serving p:nth-child(2) {
    margin: 0;
    font-size: 1.2rem;
}
#place-backdrop #place-basic-info .money {
    margin: 0 0.25rem 0 0;
    font-size: 1.2rem;
}

#place-backdrop #place-basic-info h5 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;
}

#place-backdrop #place-basic-info h4 {
    font-size: 1.75rem;
    margin: 0.5rem 0 0.5rem 0;
}

#place-basic-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

#place-basic-rating svg {
    margin-right: 0.2rem;
}

#place-basic-rating p {
    margin: 0;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    background-color: #8a05ff;
    color: white;
    padding: 0.25rem;
    border-radius: 100%;
    font-weight: 800;
}

#place-pg-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#place-pg-btns button:nth-child(1) {
    margin-right: 1rem;
    color: white;
    background-color: #151515;
    border: 3px solid #151515;
}

#place-pg-btns button:nth-child(2) {
    background-color: whitesmoke;
    color: black;
    border: 3px solid black;
}

#place-backdrop #place-basic-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1.5rem;
    font-weight: 800;
    margin-top: 0;
    border-radius: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

#place-backdrop #place-basic-info button svg {
    margin-right: 0.5rem;
}

#place-backdrop-sec-info {
    font-family: "Roboto Condensed", sans-serif;
    background-color: whitesmoke;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding-bottom: 3rem;
}

#place-backdrop-sec-info-left {
    width: 40%;
}

#hours-details {
    margin-left: 0.5rem;
}

.get-dir {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #151515;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    border-radius: 20px;
    padding: 1.15rem;
}

#place-backdrop-sec-info-right {
  padding-top: 3rem;
  width: 45%;
  margin: 0;
  position: relative;
  left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#place-backdrop-sec-info-right h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    border-bottom: 4px solid #8a05ff;
}

.place-sec-info-recs-line {
    background-color: #8a05ff;
    width: 0%;
    height: 0.25rem;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.place-sec-info-recs h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.place-sec-info-recs p {
    margin-top: 0;
    font-weight: 800;
}

.place-sec-info-recs {
    margin-top: 1rem;
    pointer-events: all;
    cursor: pointer;
}

.place-sec-info-recs:hover .place-sec-info-recs-line {
    width: 100%;
}

#hrs-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hrs-div p:first-child {
    margin-right: 1rem;
}

#hours-details p {
    margin-top: 0;
}

#place-backdrop-sec-info #place-secondary-info {
    width: 80%;
    padding-top: 3rem;
}

#place-backdrop-sec-info #place-secondary-info p {
    font-weight: 800;
    font-size: 1.25rem;
}
#place-backdrop-sec-info #place-secondary-info p svg {
    color: black;
}

#place-backdrop-sec-info #place-secondary-info p:nth-child(1) {
    margin-bottom: 0;
    margin-top: 0;
}

#place-backdrop-sec-info #msg-from-business {
    width: 80%;
}

#place-backdrop-sec-info #msg-from-business h2 {
    font-size: 2rem;
}

.msg {
    color: black;
    background-color: white;
    padding: 0.5rem 1.5rem;
    max-width: 25rem;
}

.msg h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.msg p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    word-wrap: break-word
}

.place-sec-info-rating {
    margin-bottom: 0.5rem;
}

#hours-details h4 {
    margin-top: 0.5rem;
}

#hours-details p {
    font-weight: 600;
}

#hours-details p:nth-child(1) {
   margin-top: 0;
}

#google-map {
    height: 100%;
    width: 100%;
}

#location-hours-text {
    margin-bottom: 0;
    font-size: 1.5rem;
    margin-top: 3rem;
}

#map-dir-img {
    display: block;
    height: 12rem;
    width: 18rem;
    position: relative;
    z-index: 10000000;
}

#map-and-directions {
    margin-right: 1.5rem;
}

#opening-hours-list {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    top: 1rem;
}

#opening-hours-list h4 {
    font-size: 1.5rem;
}

#place-backdrop-reviews {
    width: 80%;
    padding-top: 3rem;
}

#place-backdrop-reviews h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5rem;

}

#review-ratings-summary {
    display: flex;
}

#overall-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overall-rating p {
    font-weight: 800;
    margin-top: 0;
    font-size: 1.1rem;
}

#overall-rating h1 {
    background-color: #8a05ff;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 100%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: white;
}

#review-ratings-bars {
    margin-left: 3rem;
    margin-top: 0;
}

.review-rating {
    display: flex;
    align-items: center;
}

.review-rating p {
    margin-top: 0;
    font-size: 1.2rem;
}

.rating-bar {
    background-color: whitesmoke;
    width: 30rem;
    height: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.rating-bar-fill {
    background-color: black;
    height: 0.5rem;
    width: 0%;
}

#review-filters {
    display: flex;
}

#review-filters button {
    margin-right: 1rem;
    padding: 0.5rem;
    width: fit-content;
    color: black;
    font-weight: 800;
    background-color: white;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 20px;
}

#list-of-reviews {
    margin-top: 3rem;
}

#list-of-reviews div h4 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#list-of-reviews div h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
   text-align: left;
   margin-bottom: 0;
}

#list-of-reviews div p {
    font-size: 1.1rem;
}

#list-of-reviews .user-review {
    margin-bottom: 3rem;
}

#choose-rating {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    position: absolute;
    top: 3.5rem;
    left: 1rem;
}

#choose-rating div {
    margin: 0;
}

#choose-rating div svg {
    margin-right: 0.25rem;
    height: 1.5rem;
    color: #EAEAEA;
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#choose-rating div svg path {
    pointer-events: none;
}

#choose-rating p {
    margin-left: 0.5rem;
    color: gray;
}

#review-textarea {
    margin-bottom: 1rem;
    padding: 3.5rem 0 1rem 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1rem;
    border: 2px solid black;
}

#review-textarea:focus input:focus {
    border: 2px solid rgb(138, 5, 255);
}

#write-review-container {
    position: relative;
    display: none;
    flex-direction: column;
}

#write-review-container button {
    height: fit-content;
    width: fit-content;
    background-color: #EAEAEA;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 3rem;
    pointer-events: none;
    border-radius: 20px;
    padding: 0.75rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#photo-img-4 {
    height: 13rem;
    width: 18rem;
}

#my-review {
    margin-bottom: 3rem;
}

#sort-by-filter {
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
}

#sort-by-filter-dropdown {
    position: absolute;
    background-color: whitesmoke;
    z-index: 100;
    display: none;
    width: 7rem;
}

#sort-by-filter-dropdown li {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sort-by-filter-dropdown li p {
    width: 3.5rem;
    margin: 0;
}

#sort-by-filter-dropdown li input {
    width: 2rem;
    margin: 0;
}

#rating-filter {
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
}

#rating-filter-dropdown {
    position: absolute;
    z-index: 100;
    display: none;
    border-radius: 5px;
}

#rating-filter-dropdown li {
    padding: 0.5rem 0.5rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rating-filter-dropdown li p {
    width: 5rem;
    margin: 0;
}

#rating-filter-dropdown li input {
    width: 2.7rem;
    margin: 0;
}

#keyword-filter {
    position: relative;
    top: 1rem;
}

#keyword-filter h5 {
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;  
  position: relative;
  margin-bottom: 0.5rem;
}

#keyword-filter input {
    margin: 0;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    padding: 1rem 0 1rem 0;
}

.highlight {
    background-color: yellow;
    font-weight: 800;
}

@media screen and (max-width: 1330px) {
    #place-backdrop-sec-info-left {
        width: 60%;
        position: relative;
        left: 5rem;
    }
}

@media screen and (max-width: 1100px) {
   
    
#place-backdrop-sec-info {
    margin-top: 7rem;
}
    #photo-img-4 {
        display: none;
    }
    #photo-img-1 {
        display: none;
    } 

    #place-photos-middle {
        flex-direction: column;
        position: relative;
        top: 5rem;
    }
    #photo-img-map {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #place-backdrop-sec-info {
        justify-content: start;
        flex-direction: column;
    }
    #place-backdrop-sec-info-left {
        width: 100%;
    }
}

@media screen and (max-width: 870px) {
    .rating-bar {
        width: 20rem;
    }
}

@media screen and (max-width: 711px) {
    #place-backdrop-sec-info-left {
        left: 2.5rem;
    }
    #place-backdrop-sec-info-right {
        left: 2.5rem;
    }
    #place-backdrop #place-basic-info {
        width: 89%;
    }
    #place-backdrop-sec-info-right {
        width: unset;
    }
    #place-backdrop-sec-info #msg-from-business h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 672px) {
    #review-ratings-summary {
        flex-direction: column;
    }
    #overall-rating {
        align-items: start;
    }
    #review-ratings-bars {
        margin-left: unset;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 636px) {

    #place-backdrop {
        padding-top: 2rem;
    }

    #place-photos img {
        height: 8rem;
        width: 10rem;
    }

    #place-backdrop #place-basic-info h2 {
        font-size: 2rem;
    }

    #place-backdrop #place-basic-info h4 {
        font-size: 1.25rem;
    }

    #place-backdrop #place-basic-info h5 {
        font-size: 1rem;
    }

    #place-backdrop #place-basic-info #cost-serving p:nth-child(2) {
        font-size: 1rem;
    }

    #opening-hours-list {
        display: flex;
        flex-direction: column;
    }
    #hours-details {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 16rem;
    }

}

@media screen and (max-width: 490px) {
    #sort-by-filter-dropdown {
        width: 10rem;
    }
    #rating-filter-dropdown {
        width: 10rem;
    }
    #review-filters {
        flex-direction: column;
    }
    #review-filters button {
        width: 10rem;
    }
    #place-backdrop-sec-info-left {
        left: 1rem;
    }
    #place-backdrop-sec-info-right {
        left: 1rem;
    }
    .review-rating {
        flex-direction: column;
        align-items: start;
    }
    .rating-bar {
        margin-left: 0;
    }
    #overall-rating h1 {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 481px) {
    #place-basic-info {
        flex-direction: column;
    }
    #place-photos-middle {
        flex-direction: row;
    }

    #place-photos {
        align-items: start;
    }
    #place-backdrop-sec-info #place-secondary-info p {
        font-size: 1rem;
    }
    .msg h3 {
        font-size: 1rem;
    }
    .msg p {
        font-size: 1rem;
    }
    #opening-hours-list {
        width: unset;
    }
    #place-backdrop-sec-info-left {
        width: unset;
        margin-left: 2rem;
    }
    #place-backdrop-sec-info-right {
        height: unset;
        margin-left: 2rem;
    }
    #place-backdrop-reviews h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    #review-filters button {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 376px) {
    #list-of-reviews div p {
        font-size: 0.9rem;
    }
    #place-photos-middle {
        left: -0.5rem;
    }
}
