@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#results-overall-org {
    margin: 10rem 10rem 0 10rem;
}

#best-rated-places h4 {
    font-size: 1.5rem;
}

#budget-friendly h4 {
    font-size: 1.5rem;
}

#best-rated-places-row {
    display: flex;
    max-width: 80vw;
    overflow-x: scroll;
    overflow-y: none;
}

#budget-friendly-places-row {
    display: flex;
}

.best-rated-place {
    display: flex;
    flex-direction: column;
}

.best-rated-place div:first-child {
    display: flex;
    width: fit-content;
    flex-direction: row-reverse;
    margin-right: 1rem;
    justify-content: start;
    align-items: start;
}

.best-rated-place div:first-child h3 {
    width: 15rem;
    margin-top: 0;
    margin-bottom: 0;
}

.best-rated-place div:first-child h4 {
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 0;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 100%;
}


.best-rated-place div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.best-rated-place div:nth-child(2) h5 {
    margin: 0;
}

.buttons-container {
    display: flex;
}

.best-rated-place div:nth-child(2) a {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


.buttons-container button {
    width: fit-content;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem;
    height: 2rem;
    margin-bottom: 0;
}

.buttons-container button:first-child {
    margin-right: 0.5rem;
    background-color: black;
    font-weight: 800;
}

.buttons-container button:nth-child(2) {
    background-color: whitesmoke;
    font-weight: 800;
    color: black;
    border: 1px solid gray;
}

#filter-desc {
    font-size: 2.5rem;
}

#filter-desc {
    margin-bottom: 1rem;
}

#all-results-filters {
    display: flex;
}

#all-results-filters button {
    width: fit-content;
    height: 3rem;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    border: 3px solid black;
    font-weight: 700;
}

#all-results-filters input {
    margin-left: 0;
}

.res-filter {
    width: 8rem;
    position: relative;
    margin-right: 1rem;
}

.res-filter ul {
    display: none;
    flex-direction: column;
    background-color: whitesmoke;
    position: absolute;
    width: 100%;
    top: 3rem;
}

.res-filter ul li {
    padding: 0 0 0rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.res-filter ul li p {
    font-weight: 700;
}

.res-filter ul li input {
    margin-right: 1rem;
    width: 1rem;
}

#budget-friendly-places-row {
    width: 90vw;
    overflow-x: scroll;

}

.budget-friendly-place {
    margin-right: 2rem;
}

.budget-friendly-place div {
    display: flex;
    justify-content: start;
    align-items: start;
}

.budget-friendly-place div:first-child h3 {
    width: 11rem;
    margin-left: 1rem;
    margin-top: 0;
}

.budget-friendly-place div:first-child h4 {
    margin-top: 0;
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 100%;
}

.budget-friendly-place div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.budget-friendly-place div:nth-child(2) h5 {
    margin: 0.1rem 0;
}

#place-div-container {
    display: flex;
    flex-direction: column;
}

.place-div {
    display: flex;
    flex-direction: column;
}

.place-div .place-div-name-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
}

.place-div .place-div-name-rating h3 {
    width: fit-content;
}

.place-div .place-div-name-rating h4 {
    width: fit-content;
}

.all-places-buttons {
    display: flex;
    
}

.all-places-buttons button {
    width: fit-content;
    margin-right: 1rem;
    height: 100%;
}