@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#results-overall-org {
    margin: 10rem 10rem 0 10rem;
    font-family: "Roboto Condensed", sans-serif;
}

#best-rated-places h4 {
    font-size: 1.5rem;
}

#budget-friendly h4 {
    font-size: 1.5rem;
}

#best-rated-places-row {
    display: flex;
    max-width: 90vw;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 0.5rem;
}

#best-rated-places-row::-webkit-scrollbar {
    height: 5px;
}

#best-rated-h4 {
    font-size: 2rem;
}

#budget-h4 {
    font-size: 2rem;
}

#budget-friendly-places-row {
    display: flex;
    padding-bottom: 0.5rem;
}

#budget-friendly-places-row::-webkit-scrollbar {
    height: 5px;
}

.best-rated-place {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    padding: 0.5rem;
    z-index: 0;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.best-rated-place:hover {
    background-color: whitesmoke;
}

.best-rated-place div:first-child {
    display: flex;
    width: fit-content;
    flex-direction: row-reverse;
    margin-right: 1rem;
    justify-content: start;
    align-items: start;
}

.best-rated-place div:first-child h3 {
    width: 15rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.best-rated-place div:first-child h4 {
    margin-top: 0;
    margin-right: 1.2rem;
    margin-bottom: 0;
    padding: 0.5rem;
    border-radius: 100%;
    color: black;
    position: relative;
}

.best-rated-place div:first-child h4 svg {
    height: 3.75rem;
    position: absolute;
    left: -0.3rem;
    top: -0.3rem;
    color: #FFE34C;
    z-index: -1;
}


.best-rated-place div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.best-rated-place div:nth-child(2) h5 {
    margin: 0;
    font-weight: 400;
    font-size: 0.9rem;
}

.buttons-container {
    display: flex;
}

.best-rated-place div:nth-child(2) a {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


.buttons-container button {
    width: fit-content;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem;
    height: 2rem;
    margin-bottom: 0;
}

.buttons-container button:first-child {
    font-family: "Roboto Condensed", sans-serif;
    margin-right: 0.5rem;
    background-color: #8a05ff;
    font-weight: 800;
}

.buttons-container button:nth-child(2) {
    font-family: "Roboto Condensed", sans-serif;
    background-color: black;
    font-weight: 800;
    color: white;
    border: 1px solid gray;
}

#filter-desc {
    font-size: 2.5rem;
}

#filter-desc {
    margin-bottom: 1rem;
}

#all-results-filters {
    display: flex;
}

#res-searchbar {
    margin-left: 0;
    width: 85%;
    padding: 1rem;
    padding-left: 0;
    border: none;
    border-bottom: 3px solid gray;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
}

#all-results-filters button {
    font-family: "Roboto Condensed", sans-serif;
    width: fit-content;
    height: 3rem;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    border: 3px solid black;
    font-weight: 700;
}

#all-results-filters input {
    margin-left: 0;
}

.res-line {
    background-color: #8a05ff;
    width: 0%;
    height: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 15px 15px;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.best-rated-place:hover .res-line {
    width: 100%;
}

.budget-friendly-place:hover .res-line {
    width: 100%;
}

.res-filter {
    width: 8rem;
    position: relative;
    margin-right: 1rem;
}

.res-filter ul {
    flex-direction: column;
    background-color: #2A2A2A;
    color: white;
    position: absolute;
    width: 100%;
    top: 3rem;
    max-height: 20rem;
    overflow-y: scroll;
    z-index: 100;
}

.res-filter ul li {
    padding: 0 0 0rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.res-filter ul li p {
    font-weight: 700;
}

.res-filter ul li input {
    margin-right: 1rem;
    width: 1rem;
}

#budget-friendly {
    margin-top: 4rem;
}

#budget-friendly-places-row {
    width: 90vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

.budget-friendly-place {
    position: relative;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.budget-friendly-place:hover {
    background-color: whitesmoke;
}

.budget-friendly-place a {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.budget-friendly-place div {
    display: flex;
    justify-content: start;
    align-items: start;
}

.budget-friendly-place div:first-child h3 {
    width: 11rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-top: 0;
}

.budget-friendly-place div:first-child h4 {
    margin-top: 0;
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 100%;
}

.budget-friendly-place div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.budget-friendly-place div:nth-child(2) h5 {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0.1rem 0;
}

#place-div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.place-div {
    position: relative;
    display: flex;
    z-index: 0;
    flex-direction: column;
    padding: 0.5rem 1rem 2rem 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.place-div-name {
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.place-div:hover .place-div-name {
    color: #8a05ff;
}

.place-div:hover {
    background-color: whitesmoke;
}

.place-div .place-div-name-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
}

.place-div .place-div-name-rating h3 {
    width: fit-content;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.place-div .place-div-name-rating h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5rem;
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 100%;
    color: black;
    position: relative;
}

.place-div .place-div-name-rating h4 svg {
    height: 3.75rem;
    position: absolute;
    color: #FFE34C;
    z-index: -1;
    left: -0.3rem;
    bottom: -0.5rem;
}

.place-div-tags {
    display: flex;
    width: 95%;
}

.inexpensive-place {
    background-color: green;
    width: fit-content;
    padding: 0 0.5rem;
    border-radius: 15px;
    color: white;
    margin-right: 1rem;
}

.highly-rated-place {
    background-color: purple;
    width: fit-content;
    padding: 0 0.5rem;
    border-radius: 15px;
    color: white;
    margin-right: 1rem;
}

.place-div-awards {
    display: flex;
    position: absolute;
    top: 1rem;
    left: -0.5rem;
    z-index: -1;
    color: red;
}

.place-div-awards svg {
    height: 4rem;
    opacity: 0.3;
}

.place-div-category-area {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.place-div-style {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.place-div-serves {
    text-align: left;
    font-size: 1rem;
    margin: 0;
}

.all-places-buttons {
    display: flex;
    
}

.all-places-buttons button {
    width: fit-content;
    margin-right: 1rem;
    height: 100%;
    padding: 0.5rem;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

.all-places-buttons button:first-child {
   background-color: #8a05ff;
}

.all-places-buttons button:nth-child(2) {
    color: black;
 }

 .all-places-buttons button:nth-child(3) {
    color: black;
    background-color: rgba(0, 0, 0, 0);
 }

 .filteredplaces-line {
    width: 0%;
    height: 0.5rem;
    background-color: #8a05ff;
    position: relative;
    top: 1.5rem;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
 }

 .place-div:hover .filteredplaces-line {
    width: 100%;
 }